include code_data.pug
include head.pug
body
    include nav.pug
    +tplTitle(title_daiamshichang)
    +tplTitle(title_fuwujianjie)
    +tplTitle(title_woyaofabao)
    +tplTitle(title_woyaojiebao)

    .foot
        +footPart

    script(src='bundle.js')
    