//-代码市场
-var title_daiamshichang={classes:{titleDiv:'grey',titleCnt:'padding40 ',egTitle:'',cnTitle:'orange',info:'',desc:'paddingBottom23',aList:''}, datas:{egTitle:'',cnTitle:'代码市场',info:'',desc:'帮助⼴大开发者，设计师，以及任何身怀技能的人们赚到钱；帮助厂商寻找解决问题的佳方案，最大程度节省开支。',list:['服务简介','我要发包','我要接包']}}
-var title_fuwujianjie={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Service Profile',cnTitle:'服务简介',info:'',desc:'',list:[]}}
-var title_woyaofabao={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Service Profile',cnTitle:'我要发包',info:'',desc:'如果你想发包，请发邮件到coo@talkmoney.cn，我会很快加你并帮你一起得到最佳 发包方案。',list:[]}}
-var title_woyaojiebao={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Service Profile',cnTitle:'我要接包',info:'',desc:'提交您的邮件，一旦有新的外包信息，将会以邮件的形式发给所有人。 ',list:[]}}
