-
    var srcPath = './build/'
    var imgPath = './src/images/'
    var navListData = ['首页','外包平台','团队孵化','增值服务','代码市场','合作交流','求贤若渴','一线观察']
    var items = [{title:'一键委托开发',subtitle:'你只需提供商业诉求，剩下的由芦苇科技来帮您完成。一键委托服务从需求梳理、项⽬询 价、项目进度把控、代码管理、项目移交、后期维护',part:'one'}, {title:'技术团队孵化',subtitle:'全程监管技术培训及开发，量身打造深度配合式专属团队。',part:'two'}, {title:'增值服务',subtitle:'辅助融资、运营推广、资源整合，全方位助您乘风破浪。',part:'three'}, {title:'代码市场',subtitle:'为广大开发者、设计师等身怀绝技的人们提供自由接包平台； 为厂商提供最佳解决方案及配套人员，全程跟进交易流程，更低价更安心。',part:'four'}, ]//必须要一行，不然jade会识别不了

    var partOneDatas = [{icon:'icon-anzhuodingzhikaifa',listTitle:'安卓定制开发',desc:['完美人机交互与程序优化，高硬件适应性']},{icon:'icon-iOSdingzhikaifa',listTitle:'iOS定制开发',desc:['一站式完整的开发与 推广流畅的用户体验']},{icon:'icon-Html5dingzhikaifa',listTitle:'Html5开发',desc:['支持跨平台离线使用 更具创意，开发更敏捷']},{icon:'icon-weixinkaifa',listTitle:'微信开发',desc:['微信用户挖掘，微商城、 微网站、营销定制']},{icon:'icon-weixinxiaochengxu',listTitle:'微信小程序',desc:['丰富的开发经验与实践案例， 助你灵活应对各种应用场景']},{icon:'icon-chanpinsheji',listTitle:'产品设计',desc:['深入用户与一线互联市场， 提供一站式个性化定制']}];
    var partTwoDatas = [{icon:'icon-chuangyiwuxianshejifan bg hexagon',listTitle:'创意无限设计范',desc:['卓越的追求，处女座般强迫症的设计，切合客户的真实需求，最合适的推广设计，跨越平凡，力臻完美。'],listSubTitle:'DESIGN'},{icon:'icon-duonianhulianwangkaifajingyan bg rectangle',listTitle:'多年互联网开发经验',desc:['专业技术架构，专注于技术开发，努力打造更优秀的团队。力求极致，追求完美，最具创意的想法。'],listSubTitle:'PROFESSION'},{icon:'icon-jishuhehuoren bg circle',listTitle:'技术合伙⼈',desc:['做最默契的合伙人，你准备好了吗?'],listSubTitle:'PARTNER'}];
    var partThreeDatas = [{icon:'icon-chuangyisheji',listTitle:'创意设计',desc:['logo设计','微标设计','图标设计','小新设计']}, {icon:'icon-shangbiaozhuce',listTitle:'商标注册',desc:['担保注册','快速网申']}, {icon:'icon-shichangtiaocha',listTitle:'市场调查',desc:['用户调查','产品调查','需求评估','概念测试']}, {icon:'icon-chanpinsheji2',listTitle:'产品设计',desc:['UI设计','原型绘制','产出demo']}, {icon:'icon-rongzifuzhu',listTitle:'融资辅助',desc:['产品方案','市场战略','营销推广','融资引荐']}, {icon:'icon-ziyuanzhenghe',listTitle:'资源整合',desc:['渠道整合','投放方案','跨平台联动']}, {icon:'icon-yingxiaotuiguang',listTitle:'营销推广',desc:['产品包装','营销方案','推广投放','品牌塑造']}, {icon:'icon-yunyingweihu',listTitle:'运营维护',desc:['用户维护','活动运营','技术运维','CRM系统']}];
    var partFourDatas = [{icon:'icon-chuangyezhe',listTitle:'创业者、企业',listSubTitle:'(找外包 招兼职 找顾问)',bt:'我要发外包',desc:['一旦有新的外包信息，将会以邮件的形式发给所有人'],other:'float-l'},{icon:'icon-jiaoyishichang',listTitle:'市场交易'},{icon:'icon-shouyiren',listTitle:'程序员、设计师、PM等',listSubTitle:'(接私活 做兼职 当顾问)',bt:'我要接外包',desc:['我们很快加你，并帮你一起得到最佳发包方案'],other:'float-r'}];

    var partOneCLasses = {listClass:'partOne float-l ',listTitleClass:'listTitleOne',listSubTitleClass:'',descClass:'descOne',other:'shadowOne'}
    var partTwoCLasses = {listClass:'partTwo float-l ',listTitleClass:'listTitleTwo',listSubTitleClass:'',descClass:'descTwo',other:'shadowTwo'}
    var partThreeCLasses = {listClass:'partThree float-l',listTitleClass:'listTitleThree',listSubTitleClass:'',descClass:'descThree',otherLayout:'0'}
    var partFourCLasses = {listClass:'partFour',listTitleClass:'listTitleFour',listSubTitleClass:'listSubTitleFour',descClass:'descFour',otherLayout:'1'}

    var footDatas = [{dir:'all-left',icons:[],desc:{footTitle:'CONTACT',desc1:'地址：广东省广州市天河区中山大道379号 联合社区6栋6313',desc2:'电话：020-29864682',desc3:'邮箱：COO@talkmoney.cn'}}, {dir:'center',icons:['icon-logo','icon-luwei'],desc:{comName:'广州芦苇信息科技有限公司','cp-r1':'copyright © 2016 广州芦苇信息科技有限公司 版权所有','cp-r2':' 粤ICP备16030475号'}}, {dir:'all-right',icons:[],desc:{footTitle:'Link',footSubTitle:'技术研发',desc1:'安卓开发  iOS开发  Html5开发  微信开发  微信小程序',footSubTitle2:'核心服务',desc2:'技术研发  增值服务  团队孵化  代码市场'}}]




//- Title
//- 技术团队孵化
-var title1={classes:{titleDiv:'grey',titleCnt:'padding40',egTitle:'',cnTitle:'',info:'',desc:'paddingBottom23',aList:''}, datas:{egTitle:'',cnTitle:'技术团队孵化',info:'',desc:'从组队、培训、开发到监督，全方位保证你的创意转化，在完成APP项目的同时收获自己专属的团队。',list:['服务内容','合作方式','服务流程']}}
-var title2={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Service Items',cnTitle:'服务内容',info:'专业的团队保证一流的产品。',desc:'',list:[]}}
-var title9={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Be with us',cnTitle:'合作方式',info:'',desc:'',list:[]}}


//-产品设计
-var title10={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Service Items',cnTitle:'服务内容',info:'',desc:'',list:[]}}

-var title3={classes:{titleDiv:'grey',titleCnt:'padding40',egTitle:'',cnTitle:'',info:'',desc:'paddingBottom23',aList:''}, datas:{egTitle:'',cnTitle:'产品设计',info:'',desc:'我们致力于创造和提升简单可依赖的用户体验，用设计驱动产品价值。',list:['服务内容','服务流程']}}
-var title4={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Process Details',cnTitle:'详细服务流程',info:'我们深入每个业务流程，挖掘客户的潜在需求,深入理解用户的期望， 每一步都在为你的产品增值着想。',desc:'',list:[]}}


//-代码市场
-var title5={classes:{titleDiv:'grey',titleCnt:'padding40',egTitle:'',cnTitle:'',info:'',desc:'paddingBottom23',aList:''}, datas:{egTitle:'',cnTitle:'代码市场',info:'',desc:'帮助⼴大开发者，设计师，以及任何身怀技能的人们赚到钱；帮助厂商寻找解决问题的佳方案，最大程度节省开支。',list:['服务简介','我要发包','我要接包']}}
-var title6={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Service Profile',cnTitle:'服务简介',info:'',desc:'',list:[]}}
-var title7={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Service Profile',cnTitle:'我要发包',info:'',desc:'如果你想发包，请发邮件到coo@talkmoney.cn，我会很快加你并帮你一起得到最佳 发包方案。',list:[]}}
-var title8={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Service Profile',cnTitle:'我要接包',info:'',desc:'提交您的邮件，一旦有新的外包信息，将会以邮件的形式发给所有人。 ',list:[]}}

//-合作交流
-var title11={classes:{titleDiv:'grey',titleCnt:'padding40',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Cooperation',cnTitle:'合作交流',info:'',desc:'',list:[]}}

//-求贤若渴
-var title12={classes:{titleDiv:'grey',titleCnt:'padding40',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'We Need You',cnTitle:'求贤若渴',info:'',desc:'',list:[]}}

//-一线观察
-var title13={classes:{titleDiv:'grey',titleCnt:'padding40',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Forefront News',cnTitle:'一线观察',info:'',desc:'',list:[]}}

//-增值服务
-var title14={classes:{titleDiv:'grey',titleCnt:'padding40',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'增值服务',info:'',desc:'辅助融资、运营推广、资源整合，全方位助您乘风破浪。',list:[]}}

//-首页
-var title15={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'一键委托开发',info:'你只需提供商业诉求，剩下的由芦苇科技来帮您完成。一键委托服务从需求梳理、项⽬询 价、项目进度把控、代码管理、项目移交、后期维护',desc:'',list:[]}}
-var title16={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'技术团队孵化',info:'全程监管技术培训及开发，量身打造深度配合式专属团队。',desc:'',list:[]}}
-var title17={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'增值服务',info:'辅助融资、运营推广、资源整合，全方位助您乘风破浪。',desc:'',list:[]}}
-var title18={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'代码市场',info:'为广大开发者、设计师等身怀绝技的人们提供自由接包平台； 为厂商提供最佳解决方案及配套人员，全程跟进交易流程，更低价更安心。',desc:'',list:[]}}



//-技术研发
-var title13={classes:{titleDiv:'grey',titleCnt:'padding40',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'技术研发',info:'',desc:'我们致力于创造和提升简单可依赖的用户体验，用设计驱动产品价值。',list:['服务简介','安卓开发','iOS开发','Html5开发','微信开发','微信小程序','服务流程']}}
-var title19={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Service Profile',cnTitle:'服务简介',info:'芦苇科技，一家互联网+孵化公司，一站式提供产品孵化研发，及创意营销推广解决方案。 扎根市场多年，运用丰富经验，成就客户的成功。',desc:'',list:[]}}
-var title20={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Android Development',cnTitle:'安卓开发',info:'完美人机交互与程序优化，高硬件适应性',desc:'安卓APP应用软件已经占据国内移动应用市场的70%以上，开发Android手机，迅速占领市场 ，app软件的重要性日益凸显。',list:[]}}
-var title21={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'iOS Development',cnTitle:'iOS开发',info:'一站式完整的开发与推广，流畅的用户体验',desc:'我们拥有国内顶级的IOS开发团队，我们承诺，为您提供一站式的iOS完整的系统结构与内容编程， 落实app定制开发服务。',list:[]}}
-var title22={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Html5 Development',cnTitle:'Html5开发',info:'支持跨平台离线使用，更具创意，开发更敏捷',desc:'HTML5 本身就是移动应用平台，具有移动应用平台所需的所有元素，是近十年来Web开发标准最巨大的飞跃。和以前的版本不同 是H',list:[]}}
-var title23={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Wechat Development',cnTitle:'微信开发',info:'微信用户挖掘，微商城、微网站、营销定制',desc:'微信作为移动端最大的⼊口，以资讯服务为目标，作为流量导入APP视为佳策。芦苇科技为您提供专业的微信公众号平台、应用号 ⼩程序平',list:[]}}
-var title24={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Wechat Development',cnTitle:'微信小程序开发',info:'微信用户挖掘，微商城、微网站、营销定制',desc:'微信作为移动端最大的⼊口，以资讯服务为目标，作为流量导入APP视为佳策。芦苇科技为您提供专业的微信公众号平台、应用号 ⼩程序平',list:[]}}
-var title25={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Process Details',cnTitle:'详细服务流程',info:'我们深入每个业务流程，挖掘客户的潜在需求,深入理解用户的期望， 每一步都在为你的产品增值着想。',desc:'',list:[]}}
-var title30={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'服务内容',info:'',desc:'',list:[]}}
-var title30={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'服务内容',info:'',desc:'',list:[]}}


//- 左右布局
-
    var tmp2 ={
        classes:{
            partInList:'',
            icon:'',
            iconDesc:{
                iTitle:'',
                number:''
            },
            title:'',
            subTitle:'',
            info:'',
            desc:'',
            other:''
        }, 
        datas:{
            partInList:'',
            iconDesc:{
                iTitle:'',
                number:''
            },
            title:'',
            subTitle:'',
            info:'',
            desc:[''],
            other:''
        }
    }
    //-首页 -一键委托
        var list1 ={
            classes:{partInList:'partOne float-l', icon:'icon-anzhuodingzhikaifa', iconDesc:{iTitle:'', number:''}, title:'listTitleOne', subTitle:'', info:'infoOne', desc:'', other:'shadowOne'},
            datas:{partInList:'', title:'安卓定制开发', subTitle:'', info:'完美人机交互与程序优化，高硬件适应性', desc:[], other:''}
        }
        var list2 ={
            classes:{partInList:'partOne float-l', icon:'icon-iOSdingzhikaifa', iconDesc:{iTitle:'', number:''}, title:'listTitleOne', subTitle:'', info:'infoOne', desc:'', other:'shadowOne'},
            datas:{partInList:'', title:'iOS定制开发', subTitle:'', info:'一站式完整的开发与推广流畅的用户体验', desc:[], other:''}
        }
       var list3 ={
            classes:{partInList:'partOne float-l', icon:'icon-Html5dingzhikaifa', iconDesc:{iTitle:'', number:''}, title:'listTitleOne', subTitle:'', info:'infoOne', desc:'', other:'shadowOne'},
            datas:{partInList:'', title:'Html5开发', subTitle:'', info:'支持跨平台离线使用 更具创意，开发更敏捷', desc:[], other:''}
        }
        var list4 ={
                classes:{partInList:'partOne float-l', icon:'icon-weixinkaifa', iconDesc:{iTitle:'', number:''}, title:'listTitleOne', subTitle:'', info:'infoOne', desc:'', other:'shadowOne'},
            datas:{partInList:'', title:'微信开发', subTitle:'', info:'微信用户挖掘，微商城、 微网站、营销定制', desc:[], other:''}
        }
         var list5 ={
            classes:{partInList:'partOne float-l', icon:'icon-weixinxiaochengxu', iconDesc:{iTitle:'', number:''}, title:'listTitleOne', subTitle:'', info:'infoOne', desc:'', other:'shadowOne'}, 
            datas:{partInList:'', title:'微信小程序', subTitle:'', info:'丰富的开发经验与实践案例， 助你灵活应对各种应用场景', desc:[], other:''}
        }
          var list6 ={
            classes:{partInList:'partOne float-l', icon:'icon-chanpinsheji', iconDesc:{iTitle:'', number:''}, title:'listTitleOne', subTitle:'', info:'infoOne', desc:'', other:'shadowOne'}, 
            datas:{partInList:'', title:'产品设计', subTitle:'', info: '深入用户与一线互联市场， 提供一站式个性化定制', desc:[], other:''} 
        }

    var partOneCLasses = {listClass:'partOne float-l ',listTitleClass:'listTitleOne',listSubTitleClass:'',descClass:'descOne',other:'shadowOne'}
    var partOneDatas = [
        {icon:'icon-anzhuodingzhikaifa',listTitle:'安卓定制开发',desc:['完美人机交互与程序优化，高硬件适应性']},
        {icon:'icon-iOSdingzhikaifa',listTitle:'iOS定制开发',desc:['一站式完整的开发与 推广流畅的用户体验']},
        {icon:'icon-Html5dingzhikaifa',listTitle:'Html5开发',desc:['支持跨平台离线使用 更具创意，开发更敏捷']},
        {icon:'icon-weixinkaifa',listTitle:'微信开发',desc:['微信用户挖掘，微商城、 微网站、营销定制']},
        {icon:'icon-weixinxiaochengxu',listTitle:'微信小程序',desc:['丰富的开发经验与实践案例， 助你灵活应对各种应用场景']},
        {icon:'icon-chanpinsheji',listTitle:'产品设计',desc:['深入用户与一线互联市场， 提供一站式个性化定制']}];

//- 首页 - 技术团队孵化
-
    var partTwoCLasses = {listClass:'partTwo float-l ',listTitleClass:'listTitleTwo',listSubTitleClass:'',descClass:'descTwo',other:'shadowTwo'}
    var partTwoDatas = [
        {icon:'icon-chuangyiwuxianshejifan bg hexagon',listTitle:'创意无限设计范',desc:['卓越的追求，处女座般强迫症的设计，切合客户的真实需求，最合适的推广设计，跨越平凡，力臻完美。'],listSubTitle:'DESIGN'},
        {icon:'icon-duonianhulianwangkaifajingyan bg rectangle',listTitle:'多年互联网开发经验',desc:['专业技术架构，专注于技术开发，努力打造更优秀的团队。力求极致，追求完美，最具创意的想法。'],listSubTitle:'PROFESSION'},
        {icon:'icon-jishuhehuoren bg circle',listTitle:'技术合伙⼈',desc:['做最默契的合伙人，你准备好了吗?'],listSubTitle:'PARTNER'}];

    var list7 ={
        classes:{partInList:'partTwo float-l ', icon:'icon-chuangyiwuxianshejifan bg hexagon', iconDesc:{iTitle:'', number:''}, title:'listTitleTwo', subTitle:'listSubTitle', info:'infoTwo', desc:'', other:''},
        datas:{
            partInList:'', title:'创意无限设计范', subTitle:'DESIGN', info:'卓越的追求，处女座般强迫症的设计，切合客户的真实需求，最合适的推广设计，跨越平凡，力臻完美。', desc:[], other:''}
    }
    var list8 ={
        classes:{partInList:'partTwo float-l ', icon:'icon-duonianhulianwangkaifajingyan bg rectangle', iconDesc:{iTitle:'', number:''}, title:'listTitleTwo', subTitle:'listSubTitle', info:'infoTwo', desc:'', other:''},
        datas:{
            partInList:'', title:'多年互联网开发经验', subTitle:'PROFESSION', info:'专业技术架构，专注于技术开发，努力打造更优秀的团队。力求极致，追求完美，最具创意的想法。', desc:[], other:''}
    }
    var list9 ={
        classes:{partInList:'partTwo float-l ', icon:'icon-jishuhehuoren bg circle', iconDesc:{iTitle:'', number:''}, title:'listTitleTwo', subTitle:'listSubTitle', info:'infoTwo', desc:'', other:''},
        datas:{
            partInList:'', title:'技术合伙⼈', subTitle:'PARTNER', info:'做最默契的合伙人，你准备好了吗', desc:[], other:''}
    }
     


//-首页 - 代码市场
-
         var partFourCLasses = {listClass:'partFour',listTitleClass:'listTitleFour',listSubTitleClass:'listSubTitleFour',descClass:'descFour',otherLayout:'1'}
         var partFourDatas = [
         {icon:'icon-chuangyezhe',listTitle:'创业者、企业',listSubTitle:'(找外包 招兼职 找顾问)',bt:'我要发外包',desc:['一旦有新的外包信息，将会以邮件的形式发给所有人'],other:'float-l'},
         {icon:'icon-jiaoyishichang',listTitle:'市场交易'},
         {icon:'icon-shouyiren',listTitle:'程序员、设计师、PM等',listSubTitle:'(接私活 做兼职 当顾问)',bt:'我要接外包',desc:['我们很快加你，并帮你一起得到最佳发包方案'],other:'float-r'}];

    var list10 ={
        classes:{partInList:'partFour float-l ', icon:'icon-chuangyezhe', iconDesc:{iTitle:'', number:''}, title:'listTitleFour', subTitle:'listSubTitleFour', info:'infoFour', desc:'', other:'bt'},
        datas:{
            partInList:'', title:'创业者、企业', subTitle:'(找外包 招兼职 找顾问)', info:'一旦有新的外包信息，将会以邮件的形式发给所有人', desc:[], other:'我要发外包'}
    }
    var list11 ={
        classes:{partInList:'middle', icon:'icon-jiaoyishichang', iconDesc:{iTitle:'icon-desc-four', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
        datas:{
            partInList:'', iconDesc:{iTitle:'市场交易', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
    }
    var list12 ={
        classes:{partInList:'partFour float-r ', icon:'icon-shouyiren', iconDesc:{iTitle:'', number:''}, title:'listTitleFour', subTitle:'listSubTitleFour', info:'infoFour', desc:'', other:'bt'},
        datas:{
            partInList:'', title:'程序员、设计师、PM等', subTitle:'(接私活 做兼职 当顾问)', info:'我们很快加你，并帮你一起得到最佳发包方案', desc:[], other:'我要接外包'}
    }

//- 外包平台 banner下面的块
    var listB = {
        classes:{partInList:'', icon:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
    }
-
    var list13 = {
        classes:{partInList:'part-out', icon:'icon-yunyingweihu', iconDesc:{iTitle:'part-out-iTitle', number:''}, title:'list-title-out', subTitle:'', info:'info-out', desc:'', other:'shadow-out'},
        datas:{partInList:'', iconDesc:{iTitle:'技术研发', number:''}, title:'以丰富的行业经验为支撑', subTitle:'', info:'涵盖安卓、iOS、Html5和微信开发。规范的需求咨询、软件开发流程，完整的管理体系和先进的开发平台，保证了软件开发质量，并提', desc:[], other:''}
    }  
    var list14 = {
        classes:{partInList:'part-out', icon:'icon-chanpinsheji', iconDesc:{iTitle:'part-out-iTitle', number:''}, title:'list-title-out', subTitle:'', info:'info-out', desc:'', other:'shadow-out'},
        datas:{partInList:'', iconDesc:{iTitle:'产品设计', number:''}, title:'立足于以用户体验为中心', subTitle:'', info:'专业严谨的流程与方法，深入细致的研究与洞察，从需求梳理、思维碰撞、原型设计、UI设计，用户为王，体验至上，打造高颜值APP。', desc:[], other:''}
    } 


//- 外包平台 - 流程摘要
-
    var arrow = {//箭头
        classes:{partInList:'part-out-procedure', icon:'', iconDesc:{style:'arrow',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
    }
    var arrowR = {//反箭头
        classes:{partInList:'part-out-procedure', icon:'', iconDesc:{style:'arrow rotate',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
    }
    var list15 = {
        classes:{partInList:'part-out-procedure', icon:'', iconDesc:{style:'icon-bg-out-procedure',iTitle:'iTitle-out-procedure', number:'icon-number-out-procedure'}, title:'', subTitle:'', info:'', desc:'desc-out-procedure', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'需求提交', number:'1'}, title:'', subTitle:'', info:'', desc:['提交开发需求'], other:''}
    }
     var list16 = {
        classes:{partInList:'part-out-procedure', icon:'', iconDesc:{style:'icon-bg-out-procedure',iTitle:'iTitle-out-procedure', number:'icon-number-out-procedure'}, title:'', subTitle:'', info:'', desc:'desc-out-procedure', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'客服介入', number:'2'}, title:'', subTitle:'', info:'', desc:['技术范围及项目评估','合作模式确定','协议合同的签订'], other:''}
    }
    var list17 = {
        classes:{partInList:'part-out-procedure', icon:'', iconDesc:{style:'icon-bg-out-procedure',iTitle:'iTitle-out-procedure', number:'icon-number-out-procedure'}, title:'', subTitle:'', info:'', desc:'desc-out-procedure', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'项目开发', number:'3'}, title:'', subTitle:'', info:'', desc:['成⽴工作组','制定研发周期表','原型及设计确认','全程委托开发'], other:''}
    }
    var list18 = {
        classes:{partInList:'part-out-procedure', icon:'', iconDesc:{style:'icon-bg-out-procedure',iTitle:'iTitle-out-procedure', number:'icon-number-out-procedure'}, title:'', subTitle:'', info:'', desc:'desc-out-procedure', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'流程监控', number:'4'}, title:'', subTitle:'', info:'', desc:['按周期表工作','实时监控项目进度','质量流程监控 '], other:''}
    }
    var list19 = {
        classes:{partInList:'part-out-procedure', icon:'', iconDesc:{style:'icon-bg-out-procedure',iTitle:'iTitle-out-procedure', number:'icon-number-out-procedure'}, title:'', subTitle:'', info:'', desc:'desc-out-procedure', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'交付验收', number:'5'}, title:'', subTitle:'', info:'', desc:['项目交接测试','技术交接及培训','项目维护','售后咨询'], other:''}
    }

//-产品设计 -服务内容
-
    var list20 = {
        classes:{partInList:'part-design-service', icon:'icon-xuqiudingzhi hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'需求制定', subTitle:'', info:'深⼊市场调查，挖掘用户需求和痛点，构建市场模型和⽤户画像，指导产品发展规划和战略布局。', desc:[], other:''}
    }     
    var list21 = {
        classes:{partInList:'part-design-service', icon:'icon-UIsheji hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'产品、UI设计', subTitle:'', info:'确立交互模型、交互规范，定制APP交互和逻辑设计，打造一流的用户体验 APP。 ', desc:[], other:''}
    }     
    var list22 = {
        classes:{partInList:'part-design-service', icon:'icon-yonghuceshi hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'用户测试', subTitle:'', info:'测试交互设计的合理性及图形设计的美观性，通过目标用户衡量UI设计的合理性，降低了企业风险与成本。 ', desc:[], other:''}
    }     
    var list23 = {
        classes:{partInList:'part-design-service', icon:'icon-shangxianyunying hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'上线运营', subTitle:'', info:'再次深度沟通，验收需求及内容，直至满意为止。定制运营思路，宣传推广、后期维护策略，跟踪实施效果。', desc:[], other:''}
    } 


//- 技术团队孵化 -服务内容
-
     var list24 = {
        classes:{partInList:'part-team-service', icon:'icon-tuanduifuhua hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'团队孵化', subTitle:'', info:'低成本，低风险，从0到1，为你招聘、培训、指导终成为有默契的一只核心团队。 ', desc:[], other:''}
    }
    var list25 = {
        classes:{partInList:'part-team-service', icon:'icon-jishupeixun hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'技术培训', subTitle:'', info:'系统化的研发技术培训，1对1⽆交流沟通。让施展开发中成长，并提供相应的规划指导。', desc:[], other:''}
    }
    var list26 = {
        classes:{partInList:'part-team-service', icon:'icon-chanpinkaifa hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'产品开发', subTitle:'', info:'深度配合的⼯作模式，有丰富开发经验的主团队带队，保障业务需求，确保孵化团队后续的基础维护服务、SEO营销。', desc:[], other:''}
    }
    var list27 = {
        classes:{partInList:'part-team-service', icon:'icon-jianguantizhi hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'监管体制', subTitle:'', info:'多年的互联⽹从业经验，成熟的项⽬管理流程与完善的质量监控体系，保证了操作流程性和⽤户体验流畅。 ', desc:[], other:''}
    }
    var list28 = {
        classes:{partInList:'part-team-service', icon:'icon-xiangmushenhe hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'项目审核', subTitle:'', info:'专业的研发流程为你提供定制化解决方案，从初次的审核确认到再次的优化修改，直到你我满意为止。 ', desc:[], other:''}
    }
    var list29 = {
        classes:{partInList:'part-team-service', icon:'icon-tuanduijiaojie hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'团队交接', subTitle:'', info:'项目交接时，您将得到专属的专业化流程、优质的服务、丰富的经验以及对创意品质的追求核心团队。', desc:[], other:''}
    }


//- 技术研发 - h5 -优势
-
    var list30 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'01'}, title:'移动体验好', subTitle:'MOBILE EXPERIENCE ', info:'', desc:['自动检测适应','更符合操作习惯','使用更流畅'], other:''}
    }
    var list31 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'02'}, title:'推广成本低', subTitle:'PROMOTION OF LOW COST', info:'', desc:['直接访问体验','操作简单','用户更喜欢'], other:''}
    }
    var list32 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'03'}, title:'建站速度快', subTitle:'SPEED IS FAST  ', info:'', desc:['开发技术成熟','开发速度快'], other:''}
    }

//- 技术研发  -h5-服务
-
  var line = {
        classes:{partInList:'part-tech-ser line', icon:'', iconDesc:{style:'',iTitle:' ', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
    }
  var list33 = {
        classes:{partInList:'part-tech-ser', icon:'icon-baituopingtaiyilai particular-i', iconDesc:{style:'',iTitle:'iTitle-tech-ser particular-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'摆脱平台 依赖', number:''}, title:'', subTitle:'', info:'', desc:['浏览器直接访问','无需store审核','更像APP体验'], other:''}
    }
    var list34 = {
        classes:{partInList:'part-tech-ser', icon:'icon-shishigengxin darkGreen-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'实时更新', number:''}, title:'', subTitle:'', info:'', desc:['内容实时更新','审核周期短','发布后无需维护'], other:''}
    }
    var list35 = {
        classes:{partInList:'part-tech-ser', icon:'icon-lixianshiyong red-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'离线使用', number:''}, title:'', subTitle:'', info:'', desc:['离线使用','更新下载量少'], other:''}
    }
    var list36 = {
        classes:{partInList:'part-tech-ser', icon:'icon-daimaanquan green-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'代码安全', number:''}, title:'', subTitle:'', info:'', desc:['代码更安全','运行更流畅'], other:''}
    }
    var list37 = {
        classes:{partInList:'part-tech-ser', icon:'icon-kuapingtai orange-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'跨平台', number:''}, title:'', subTitle:'', info:'', desc:['跨平台运行','可重复调用','减少工作量'], other:''}
    }


    //- 技术研发 - Android -优势
-
    var list40 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'01'}, title:'用户量最多', subTitle:'THE MOST USERS', info:'', desc:['全球使用量最多','发行量持续增长'], other:''}
    }
    var list41 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'02'}, title:'推广相对容易', subTitle:'EASY SEO', info:'', desc:['开放系统','开发自由度高','更接近你所想'], other:''}
    }
    var list42 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'03'}, title:'系统开放性高', subTitle:' HIGHLY OPENING SYSTEM', info:'', desc:['开发技术成熟','开发速度快'], other:''}
    }

//- 技术研发  Android - 服务
-
  var list43 = {
        classes:{partInList:'part-tech-ser', icon:'icon-UIsheji2 ', iconDesc:{style:'',iTitle:'iTitle-tech-ser ', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'UI设计', number:''}, title:'', subTitle:'', info:'', desc:['原型设计','交互逻辑','界面设计'], other:''}
    }
    var list44 = {
        classes:{partInList:'part-tech-ser', icon:'icon-yanfa darkGreen-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'研发', number:''}, title:'', subTitle:'', info:'', desc:['原生程序','程序优化','内存控制'], other:''}
    }
    var list45 = {
        classes:{partInList:'part-tech-ser', icon:'icon-ceshi red-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'测试', number:''}, title:'', subTitle:'', info:'', desc:['分辨率测试','硬件匹配','逻辑检测'], other:''}
    }
    var list46 = {
        classes:{partInList:'part-tech-ser', icon:'icon-tuiguang green-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'推广', number:''}, title:'', subTitle:'', info:'', desc:['推广方案','运营策划','快速发布'], other:''}
    }
    var list47 = {
        classes:{partInList:'part-tech-ser', icon:'icon-fuwu orange-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'服务', number:''}, title:'', subTitle:'', info:'', desc:['免费Bug修复','后期系统优化','完美监控'], other:''}
    }

    //- 技术研发 - IOS -优势
-
    var list50 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'01'}, title:'营收更容易', subTitle:'EASY REVENUES ', info:'', desc:['用户更愿意付费','支付方式便捷'], other:''}
    }
    var list51 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'02'}, title:'应用发布统一且唯一', subTitle:' UNIFIED RELEAES ', info:'', desc:['唯一app','store商店','方便搜索应用','平台维护费用低'], other:''}
    }
    var list52 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'03'}, title:'系统机型少、适配最优', subTitle:' HIGHLY ADAPTIVE ', info:'', desc:['系统机型单一 ','系统规范明确','开发成本低'], other:''}
    }

//- 技术研发  IOS - 服务
-
  var list53 = {
        classes:{partInList:'part-tech-ser', icon:'icon-UIsheji2 ', iconDesc:{style:'',iTitle:'iTitle-tech-ser ', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'UI设计', number:''}, title:'', subTitle:'', info:'', desc:['原型设计','交互逻辑','界面设计'], other:''}
    }
    var list54 = {
        classes:{partInList:'part-tech-ser', icon:'icon-yanfa darkGreen-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'研发', number:''}, title:'', subTitle:'', info:'', desc:['原生程序','程序优化','内存控制'], other:''}
    }
    var list55 = {
        classes:{partInList:'part-tech-ser', icon:'icon-ceshi red-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'测试', number:''}, title:'', subTitle:'', info:'', desc:['分辨率测试','硬件匹配','逻辑检测'], other:''}
    }
    var list56 = {
        classes:{partInList:'part-tech-ser', icon:'icon-tuiguang green-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'推广', number:''}, title:'', subTitle:'', info:'', desc:['推广方案','运营策划','快速发布'], other:''}
    }
    var list57 = {
        classes:{partInList:'part-tech-ser', icon:'icon-fuwu orange-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'服务', number:''}, title:'', subTitle:'', info:'', desc:['免费Bug修复','后期系统优化','完美监控'], other:''}
    }



    //- 技术研发 - 微信开发 -优势
-
    var list60 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'01'}, title:'资讯展示', subTitle:'MOBILE EXPERIENCE ', info:'', desc:['官网设置与内容推送','随时发布资讯动态','形象塑造和APP推广容易'], other:''}
    }
    var list61 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'02'}, title:'服务咨询', subTitle:' PROMOTION OF LOW COST', info:'', desc:['用户群体庞大','自定义微信菜单','信息反馈与分析方便'], other:''}
    }
    var list62 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'03'}, title:'消费交易', subTitle:'SPEED IS FAST ', info:'', desc:['快速打造微商城与官网','企业品牌延伸方便','建立泛用户体系容易'], other:''}
    }

//- 技术研发  微信开发 - 服务
-
  var list63 = {
        classes:{partInList:'part-tech-ser', icon:'icon-weiwangzhan ', iconDesc:{style:'',iTitle:'iTitle-tech-ser ', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'微网站', number:''}, title:'', subTitle:'', info:'', desc:['浏览器直接访问','无需store审核','更像APP体验'], other:''}
    }
    var list64 = {
        classes:{partInList:'part-tech-ser', icon:'icon-weishangcheng darkGreen-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'微商城', number:''}, title:'', subTitle:'', info:'', desc:['内容实时更新','审核周期短','发布后无需维护'], other:''}
    }
    var list65 = {
        classes:{partInList:'part-tech-ser', icon:'icon-weiyingxiao red-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'微营销', number:''}, title:'', subTitle:'', info:'', desc:['离线使用‘','更新下载量少'], other:''}
    }
    var list66 = {
        classes:{partInList:'part-tech-ser', icon:'icon-weidingzhi green-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'微定制', number:''}, title:'', subTitle:'', info:'', desc:['代码更安全','运行更流畅'], other:''}
    }
    var list67 = {
        classes:{partInList:'part-tech-ser', icon:'icon-weishequ orange-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'微社区 ', number:''}, title:'', subTitle:'', info:'', desc:['保持用户黏性','促进平台活跃度','提高品牌忠诚度'], other:''}
    }


     //- 技术研发 - 微信小程序 -优势
-
    var list70 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'01'}, title:'用户基数大', subTitle:'THE MOST USERS ', info:'', desc:['利用微信庞大用户基数','营销推广成本最小化'], other:''}
    }
    var list71 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'02'}, title:'无需安装', subTitle:' WITHOUT INSTALLATION', info:'', desc:['无需安装即开即用','UI操作统一 ','用户体验流畅'], other:''}
    }
    var list72 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'03'}, title:'灵活配置', subTitle:'FLEXIBLE CONFIGURATION ', info:'', desc:['更低廉的开发成本','更敏捷的开发流程','更高的用户兼容性'], other:''}
    }

//- 技术研发  微信小程序 - 服务
-
  var list73 = {
        classes:{partInList:'part-tech-ser', icon:'icon-goutong ', iconDesc:{style:'',iTitle:'iTitle-tech-ser ', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'需求沟通', number:''}, title:'', subTitle:'', info:'', desc:['功能确认','原型设计'], other:''}
    }
    var list74 = {
        classes:{partInList:'part-tech-ser', icon:'icon-yanfa darkGreen-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'研发', number:''}, title:'', subTitle:'', info:'', desc:['云端资源分配','程序开发','运行优化'], other:''}
    }
    var list75 = {
        classes:{partInList:'part-tech-ser', icon:'icon-ceshi red-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'测试', number:''}, title:'', subTitle:'', info:'', desc:['逻辑检测','小规模用户测试','意见反馈'], other:''}
    }
    var list76 = {
        classes:{partInList:'part-tech-ser', icon:'icon-tuiguang green-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'推广', number:''}, title:'', subTitle:'', info:'', desc:['推广方案','运营策划','活动创意'], other:''}
    }
    var list77 = {
        classes:{partInList:'part-tech-ser', icon:'icon-fuwu orange-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'服务', number:''}, title:'', subTitle:'', info:'', desc:['免费Bug修复','后期系统优化','完美监控'], other:''}
    }




//-求贤若渴
-
    var list80 = {
        classes:{partInList:'part-employ bg-grey', icon:'icon-employ-bg-grey', iconDesc:{style:'',iTitle:'', number:''}, title:'title-employ list-title-grey-border', subTitle:'', info:'', desc:'desc-employ', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'产品实习生', subTitle:'', info:'', desc:['需求挖掘','产品设计','交互设计','项目跟进'], other:''}
    }
        var list81 = {
        classes:{partInList:'part-employ bg-green', icon:'icon-employ-bg-green', iconDesc:{style:'',iTitle:'', number:''}, title:'title-employ list-title-green-border', subTitle:'', info:'', desc:'desc-employ', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'iSO工程师', subTitle:'', info:'', desc:['软件编码','业务逻辑实现','程序测试'], other:''}
    }

    var list82 = {
        classes:{partInList:'part-employ bg-red', icon:'icon-employ-bg-red', iconDesc:{style:'',iTitle:'', number:''}, title:'title-employ list-title-red-border', subTitle:'', info:'', desc:'desc-employ', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'安卓工程师', subTitle:'', info:'', desc:['软件编码','业务逻辑实现','程序测试'], other:''}
    }

    var list83 = {
        classes:{partInList:'part-employ bg-blue', icon:'icon-employ-bg-blue', iconDesc:{style:'',iTitle:'', number:''}, title:'title-employ list-title-blue-border', subTitle:'', info:'', desc:'desc-employ', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'前端工程师', subTitle:'', info:'', desc:['页面制作','脚本程序编写','优化修改页面'], other:''}
    }


//-技术研发 - 服务简介
-
    var list90 = {
        classes:{partInList:'part-tech-serv bg-profession', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-tech-serv', subTitle:'', info:'info-tech-serv', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'专业', subTitle:'', info:'技术开发，不止步于技术。拒绝成为APP流水工厂，每一次研发，都立足用户和市场，充分考虑后续融资与营销需求。过硬的技术，只有匹配', desc:[], other:''}
    }

    var list91 = {
        classes:{partInList:'part-tech-serv bg-concentrate', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-tech-serv', subTitle:'', info:'info-tech-serv', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'专注', subTitle:'', info:'老道默契的团队，创新型学习型企业文化，一“老”一“新”，10余年专注于互联网产品，紧跟互联网快速迭代的浪潮。拒绝童子军，把专业', desc:[], other:''}
    }

    var list92 = {
        classes:{partInList:'part-tech-serv bg-effeciency', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-tech-serv', subTitle:'', info:'info-tech-serv', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'效率', subTitle:'', info:'天下武功，唯快不破。缩短开发周期，准确判断产品窗口期，快速响应需求，永远快人一步，助你抢占市场先机。 ', desc:[], other:''}
    }

    var list93 = {
        classes:{partInList:'part-tech-serv bg-beaty', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-tech-serv', subTitle:'', info:'info-tech-serv', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'臻美', subTitle:'', info:'至于至善，追求完美。“挑剔’在我们这里，是褒义词。全程“保姆式”开发，以工匠精神为客户深究每一个环节。在看不到的也要做到精致，', desc:[], other:''}
    }


//-左右布局
//-详细流程
-
    var  list100 = {
        style:'margin-150',
        left:{
            classes:{partInList:'part-details', icon:'icon-jishuhehuoren2', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'part-details', icon:'', iconDesc:{style:'icon-details-bg',iTitle:'iTitle-details', number:'icon-number-details'}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'前期沟通', number:'01'}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            classes:{partInList:'part-details bg-orange bg-setting bg-r', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-details', subTitle:'', info:'', desc:'desc-details', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'沟通碰撞：“不只是接受” ', subTitle:'', info:'', desc:['· 需求调研 方案制作','· 需求确认 签订合约'], other:''}
        }
    }

    var  list101 = {
        style:'',
        right:{
            style:'',
            classes:{partInList:'part-details', icon:'icon-jishuhehuoren2 icon-r', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'part-details', icon:'', iconDesc:{style:'icon-details-bg icon-details-bg-r ',iTitle:'iTitle-details', number:'icon-number-details'}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'产品规划', number:'02'}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        left:{
            classes:{partInList:'part-details bg-purple-red bg-setting bg-l ', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-details word-l padding-left-50', subTitle:'', info:'', desc:'desc-details word-l', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'产品规划：“为用户多想一点“ ', subTitle:'', info:'', desc:['· 原型设计 原型确认','· UI设计 UI确认'], other:''}
        }
    }

        var  list102 = {
        style:'margin-150',
        left:{
            classes:{partInList:'part-details', icon:'icon-jishuhehuoren2', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'part-details', icon:'', iconDesc:{style:'icon-details-bg margin-right-5',iTitle:'iTitle-details', number:'icon-number-details'}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'程序开发', number:'03'}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            classes:{partInList:'part-details bg-purple-blue bg-setting bg-r', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-details', subTitle:'', info:'', desc:'desc-details', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'程序开发：“细心码好每段代码” ', subTitle:'', info:'', desc:['· 系统设计 程序开发','· 程序确认 多平台开发'], other:''}
        }
    }

    var  list103 = {
        style:'',
        right:{
            style:'',
            classes:{partInList:'part-details', icon:'icon-jishuhehuoren2 icon-r', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'part-details', icon:'', iconDesc:{style:'icon-details-bg icon-details-bg-r',iTitle:'iTitle-details', number:'icon-number-details'}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'质量检测', number:'04'}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        left:{
            classes:{partInList:'part-details bg-blue-green bg-setting bg-l ', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-details word-l', subTitle:'', info:'', desc:'desc-details word-l', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'质量检测：“零问题才是宗旨” ', subTitle:'', info:'', desc:['· BUG检测 五重检测','· 用户体验检测 逻辑检测'], other:''}
        }
    }
        var  list104 = {
        style:'margin-150',
        left:{
            classes:{partInList:'part-details', icon:'icon-jishuhehuoren2', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'part-details', icon:'', iconDesc:{style:'icon-details-bg',iTitle:'iTitle-details', number:'icon-number-details'}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'验收交付', number:'05'}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            classes:{partInList:'part-details bg-green bg-setting bg-r', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-details', subTitle:'', info:'', desc:'desc-details', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'项目完结：“不止于完美” ', subTitle:'', info:'', desc:['· 确认通过 支付尾款','· 交付源码 成功上线'], other:''}
        }
    }

    var  list105 = {
        style:'',
        right:{
            style:'',
            classes:{partInList:'part-details', icon:'icon-jishuhehuoren2 icon-r', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'part-details', icon:'', iconDesc:{style:'icon-details-bg icon-details-bg-r',iTitle:'iTitle-details', number:'icon-number-details'}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'售后服务', number:'06'}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        left:{
            classes:{partInList:'part-details bg-green-oragne bg-setting bg-l ', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-details word-l', subTitle:'', info:'', desc:'desc-details word-l', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'销售服务：“不止于交付” ', subTitle:'', info:'', desc:['· 售后服务 邮件提交','· 7*24小时电话提交'], other:''}
        }
    }



    //技术团队孵化 -   合作方式
-
  var  list200 = {
        style:'part-team-cooper',
        left:{
            classes:{partInList:'', icon:'icon-jishutouzi ', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-team-cooper', subTitle:'list-sub-title-team-cooper margin-bottom-40', info:'info-team-cooper', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'技术投资', subTitle:'Technology Investment', info:'为符合技天使发展方向的项⽬提供技术投资服务 。', desc:[], other:''}
        }
    }
    var  list201 = {
        style:'part-team-cooper',
        left:{
            classes:{partInList:'', icon:'icon-jishuhehuoren2 ', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-team-cooper', subTitle:'list-sub-title-team-cooper ', info:'info-team-cooper', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'技术合伙人', subTitle:'Professional Technology Partner ', info:'为优秀的创业项目提供专业的技术支持。', desc:[], other:''}
        }
    }


    //首页 - 增值服务
-
    var  list300 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-chuangyisheji ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'创意设计', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·logo设计','·徽标设计','·图标设计 '], other:''}
        }
    }
    var  list301 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-shangbiaozhuce ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'商标注册', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·担保注册','·快速网申'], other:''}
        }
    }
    var  list302 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-shichangtiaocha ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'市场调查', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·用户调查','·产品调查','·需求评估','·概念测试'], other:''}
        }
    }
    var  list304 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-chanpinsheji2 ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'产品设计', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·UI设计','·原型绘制','·产出demo'], other:''}
        }
    }
    var  list305 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-rongzifuzhu ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'融资辅助', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·产品方案','·市场战略','·营销推广','·融资引荐'], other:''}
        }
    }
    var  list306 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-ziyuanzhenghe ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'资源整合', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·渠道整合','·投放方案','·跨平台联动'], other:''}
        }
    }
    var  list307 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-yingxiaotuiguang ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'营销推广', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·产品包装','·营销方案','·推广投放','·品牌塑造'], other:''}
        }
    }
    var  list308 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-yunyingweihu ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'运营维护', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·用户维护','·活动运营','·技术运维','·CRM系统'], other:''}
        }
    }
