//-产品设计
-
    var title_fuwuneirong={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'padding-bottom-60',info:'',desc:'',aList:''}, datas:{egTitle:'Service Items',cnTitle:'服务内容',info:'',desc:'',list:[]}}

    var title_chanpingsheji={classes:{titleDiv:'grey',titleCnt:'padding40',egTitle:'',cnTitle:'orange',info:'',desc:'paddingBottom23',aList:''}, datas:{egTitle:'',cnTitle:'产品设计',info:'',desc:'我们致力于创造和提升简单可依赖的用户体验，用设计驱动产品价值。',list:['服务内容','服务流程']}}


//-产品设计 -服务内容
-
    var list_service_data1 = {
        classes:{partInList:'part-design-service', icon:'icon-xuqiudingzhi hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'需求制定', subTitle:'', info:'深⼊市场调查，挖掘用户需求和痛点，构建市场模型和⽤户画像，指导产品发展规划和战略布局。', desc:[], other:''}
    }     
    var list_service_data2 = {
        classes:{partInList:'part-design-service', icon:'icon-UIsheji hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'产品、UI设计', subTitle:'', info:'确立交互模型、交互规范，定制APP交互和逻辑设计，打造一流的用户体验 APP。 ', desc:[], other:''}
    }     
    var list_service_data3 = {
        classes:{partInList:'part-design-service', icon:'icon-yonghuceshi hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'用户测试', subTitle:'', info:'测试交互设计的合理性及图形设计的美观性，通过目标用户衡量UI设计的合理性，降低了企业风险与成本。 ', desc:[], other:''}
    }     
    var list_service_data4 = {
        classes:{partInList:'part-design-service', icon:'icon-shangxianyunying hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'上线运营', subTitle:'', info:'再次深度沟通，验收需求及内容，直至满意为止。定制运营思路，宣传推广、后期维护策略，跟踪实施效果。', desc:[], other:''}
    } 


