-
    var title_xiangxifuwuliucheng={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Process Details',cnTitle:'详细服务流程',info:'我们深入每个业务流程，挖掘客户的潜在需求,深入理解用户的期望， 每一步都在为你的产品增值着想。',desc:'',list:[]}}

//-详细流程
-
    var  list_detail_data1 = {
        style:'margin-150',
        left:{
            classes:{partInList:'part-details', icon:'icon-jishuhehuoren2', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'part-details', icon:'', iconDesc:{style:'icon-details-bg',iTitle:'iTitle-details', number:'icon-number-details'}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'前期沟通', number:'01'}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            classes:{partInList:'part-details bg-orange bg-setting bg-r', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-details', subTitle:'', info:'', desc:'desc-details', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'沟通碰撞：“不只是接受” ', subTitle:'', info:'', desc:['· 需求调研 方案制作','· 需求确认 签订合约'], other:''}
        }
    }

    var  list_detail_data2 = {
        style:'',
        right:{
            style:'',
            classes:{partInList:'part-details', icon:'icon-jishuhehuoren2 icon-r', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'part-details', icon:'', iconDesc:{style:'icon-details-bg icon-details-bg-r ',iTitle:'iTitle-details', number:'icon-number-details'}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'产品规划', number:'02'}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        left:{
            classes:{partInList:'part-details bg-purple-red bg-setting bg-l ', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-details word-l padding-left-50', subTitle:'', info:'', desc:'desc-details word-l', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'产品规划：“为用户多想一点“ ', subTitle:'', info:'', desc:['· 原型设计 原型确认','· UI设计 UI确认'], other:''}
        }
    }

        var  list_detail_data3 = {
        style:'margin-150',
        left:{
            classes:{partInList:'part-details', icon:'icon-jishuhehuoren2', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'part-details', icon:'', iconDesc:{style:'icon-details-bg margin-right-5',iTitle:'iTitle-details', number:'icon-number-details'}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'程序开发', number:'03'}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            classes:{partInList:'part-details bg-purple-blue bg-setting bg-r', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-details', subTitle:'', info:'', desc:'desc-details', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'程序开发：“细心码好每段代码” ', subTitle:'', info:'', desc:['· 系统设计 程序开发','· 程序确认 多平台开发'], other:''}
        }
    }

    var  list_detail_data4 = {
        style:'',
        right:{
            style:'',
            classes:{partInList:'part-details', icon:'icon-jishuhehuoren2 icon-r', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'part-details', icon:'', iconDesc:{style:'icon-details-bg icon-details-bg-r',iTitle:'iTitle-details', number:'icon-number-details'}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'质量检测', number:'04'}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        left:{
            classes:{partInList:'part-details bg-blue-green bg-setting bg-l ', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-details word-l', subTitle:'', info:'', desc:'desc-details word-l', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'质量检测：“零问题才是宗旨” ', subTitle:'', info:'', desc:['· BUG检测 五重检测','· 用户体验检测 逻辑检测'], other:''}
        }
    }
        var  list_detail_data5 = {
        style:'margin-150',
        left:{
            classes:{partInList:'part-details', icon:'icon-jishuhehuoren2', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'part-details', icon:'', iconDesc:{style:'icon-details-bg',iTitle:'iTitle-details', number:'icon-number-details'}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'验收交付', number:'05'}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            classes:{partInList:'part-details bg-green bg-setting bg-r', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-details', subTitle:'', info:'', desc:'desc-details', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'项目完结：“不止于完美” ', subTitle:'', info:'', desc:['· 确认通过 支付尾款','· 交付源码 成功上线'], other:''}
        }
    }

    var  list_detail_data6 = {
        style:'',
        right:{
            style:'',
            classes:{partInList:'part-details', icon:'icon-jishuhehuoren2 icon-r', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'part-details', icon:'', iconDesc:{style:'icon-details-bg icon-details-bg-r',iTitle:'iTitle-details', number:'icon-number-details'}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'售后服务', number:'06'}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        left:{
            classes:{partInList:'part-details bg-green-oragne bg-setting bg-l ', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-details word-l', subTitle:'', info:'', desc:'desc-details word-l', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'销售服务：“不止于交付” ', subTitle:'', info:'', desc:['· 售后服务 邮件提交','· 7*24小时电话提交'], other:''}
        }
    }
