include detail_data.pug
div.grey.padding-bottom-60
    +tplTitle(title_xiangxifuwuliucheng)
    div(style='width: 815px;margin: 0 auto;')
        +tplListB(list_detail_data1)
        +tplListB(list_detail_data2)
        +tplListB(list_detail_data3)
        +tplListB(list_detail_data4)
        +tplListB(list_detail_data5)
        +tplListB(list_detail_data6)