//-求贤若渴
-var title_qiuxianruoke={classes:{titleDiv:'grey',titleCnt:'padding40',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'We Need You',cnTitle:'求贤若渴',info:'',desc:'',list:[]}}

//-求贤若渴
-
    var list_employ_data1 = {
        classes:{partInList:'part-employ bg-grey', icon:'icon-employ-bg-grey', iconDesc:{style:'',iTitle:'', number:''}, title:'title-employ list-title-grey-border', subTitle:'', info:'', desc:'desc-employ', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'产品实习生', subTitle:'', info:'', desc:['需求挖掘','产品设计','交互设计','项目跟进'], other:''}
    }
        var list_employ_data2 = {
        classes:{partInList:'part-employ bg-green', icon:'icon-employ-bg-green', iconDesc:{style:'',iTitle:'', number:''}, title:'title-employ list-title-green-border', subTitle:'', info:'', desc:'desc-employ', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'iSO工程师', subTitle:'', info:'', desc:['软件编码','业务逻辑实现','程序测试'], other:''}
    }

    var list_employ_data3 = {
        classes:{partInList:'part-employ bg-red', icon:'icon-employ-bg-red', iconDesc:{style:'',iTitle:'', number:''}, title:'title-employ list-title-red-border', subTitle:'', info:'', desc:'desc-employ', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'安卓工程师', subTitle:'', info:'', desc:['软件编码','业务逻辑实现','程序测试'], other:''}
    }

    var list_employ_data4 = {
        classes:{partInList:'part-employ bg-blue', icon:'icon-employ-bg-blue', iconDesc:{style:'',iTitle:'', number:''}, title:'title-employ list-title-blue-border', subTitle:'', info:'', desc:'desc-employ', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'前端工程师', subTitle:'', info:'', desc:['页面制作','脚本程序编写','优化修改页面'], other:''}
    }
