include public_data.pug
include index_data.pug
include definition.pug
include head.pug
body
    include nav.pug
    include banner.pug
    div.part
        +tplTitle(title_yijianweituokaifa)
        +tplListA(list_yijian_data1)
        +tplListA(list_yijian_data2)
        +tplListA(list_yijian_data3)
        +tplListA(list_yijian_data4)
        +tplListA(list_yijian_data5)
        +tplListA(list_yijian_data6)
    div.grey
        div.part
            +tplTitle(title_jishutuanduifuhua)
            +tplListA(list_jishu_data1)
            +tplListA(list_jishu_data2)
            +tplListA(list_jishu_data3)
    div.part
        +tplTitle(title_zengzhifuwu)
        +tplListC(list_zengzhi_data1)
        +tplListC(list_zengzhi_data2)
        +tplListC(list_zengzhi_data3)
        +tplListC(list_zengzhi_data4)
        +tplListC(list_zengzhi_data5)
        +tplListC(list_zengzhi_data6)
        +tplListC(list_zengzhi_data7)
        +tplListC(list_zengzhi_data8)
    div.grey
        div.part
            +tplTitle(title_daimashichang)
            +tplListA(list_daima_data1)
            +tplListA(list_daima_data2)
            +tplListA(list_daima_data3)
    .foot
        +footPart

    script(src='bundle.js')