//-首页
-
    var title_yijianweituokaifa={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'一键委托开发',info:'你只需提供商业诉求，剩下的由芦苇科技来帮您完成。一键委托服务从需求梳理、项⽬询 价、项目进度把控、代码管理、项目移交、后期维护',desc:'',list:[]}}
-var title_jishutuanduifuhua={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'技术团队孵化',info:'全程监管技术培训及开发，量身打造深度配合式专属团队。',desc:'',list:[]}}
-var title_zengzhifuwu={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'增值服务',info:'辅助融资、运营推广、资源整合，全方位助您乘风破浪。',desc:'',list:[]}}
-var title_daimashichang={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'代码市场',info:'为广大开发者、设计师等身怀绝技的人们提供自由接包平台； 为厂商提供最佳解决方案及配套人员，全程跟进交易流程，更低价更安心。',desc:'',list:[]}}


//-首页 -一键委托
-
       var list_yijian_data1 ={
            classes:{partInList:'partOne float-l', icon:'icon-anzhuodingzhikaifa', iconDesc:{iTitle:'', number:''}, title:'listTitleOne', subTitle:'', info:'infoOne', desc:'', other:'shadowOne'},
            datas:{partInList:'', title:'安卓定制开发', subTitle:'', info:'完美人机交互与程序优化，高硬件适应性', desc:[], other:''}
        }
        var list_yijian_data2 ={
            classes:{partInList:'partOne float-l', icon:'icon-iOSdingzhikaifa', iconDesc:{iTitle:'', number:''}, title:'listTitleOne', subTitle:'', info:'infoOne', desc:'', other:'shadowOne'},
            datas:{partInList:'', title:'iOS定制开发', subTitle:'', info:'一站式完整的开发与推广流畅的用户体验', desc:[], other:''}
        }
       var list_yijian_data3 ={
            classes:{partInList:'partOne float-l', icon:'icon-Html5dingzhikaifa', iconDesc:{iTitle:'', number:''}, title:'listTitleOne', subTitle:'', info:'infoOne', desc:'', other:'shadowOne'},
            datas:{partInList:'', title:'Html5开发', subTitle:'', info:'支持跨平台离线使用 更具创意，开发更敏捷', desc:[], other:''}
        }
        var list_yijian_data4 ={
                classes:{partInList:'partOne float-l', icon:'icon-weixinkaifa', iconDesc:{iTitle:'', number:''}, title:'listTitleOne', subTitle:'', info:'infoOne', desc:'', other:'shadowOne'},
            datas:{partInList:'', title:'微信开发', subTitle:'', info:'微信用户挖掘，微商城、 微网站、营销定制', desc:[], other:''}
        }
         var list_yijian_data5 ={
            classes:{partInList:'partOne float-l', icon:'icon-weixinxiaochengxu', iconDesc:{iTitle:'', number:''}, title:'listTitleOne', subTitle:'', info:'infoOne', desc:'', other:'shadowOne'}, 
            datas:{partInList:'', title:'微信小程序', subTitle:'', info:'丰富的开发经验与实践案例， 助你灵活应对各种应用场景', desc:[], other:''}
        }
          var list_yijian_data6 ={
            classes:{partInList:'partOne float-l', icon:'icon-chanpinsheji', iconDesc:{iTitle:'', number:''}, title:'listTitleOne', subTitle:'', info:'infoOne', desc:'', other:'shadowOne'}, 
            datas:{partInList:'', title:'产品设计', subTitle:'', info: '深入用户与一线互联市场， 提供一站式个性化定制', desc:[], other:''} 
        }


//- 首页 - 技术团队孵化
-
    var list_jishu_data1 ={
        classes:{partInList:'partTwo float-l ', icon:'icon-chuangyiwuxianshejifan bg hexagon', iconDesc:{iTitle:'', number:''}, title:'listTitleTwo', subTitle:'listSubTitle', info:'infoTwo', desc:'', other:''},
        datas:{
            partInList:'', title:'创意无限设计范', subTitle:'DESIGN', info:'卓越的追求，处女座般强迫症的设计，切合客户的真实需求，最合适的推广设计，跨越平凡，力臻完美。', desc:[], other:''}
    }
    var list_jishu_data2 ={
        classes:{partInList:'partTwo float-l ', icon:'icon-duonianhulianwangkaifajingyan bg rectangle', iconDesc:{iTitle:'', number:''}, title:'listTitleTwo', subTitle:'listSubTitle', info:'infoTwo', desc:'', other:''},
        datas:{
            partInList:'', title:'多年互联网开发经验', subTitle:'PROFESSION', info:'专业技术架构，专注于技术开发，努力打造更优秀的团队。力求极致，追求完美，最具创意的想法。', desc:[], other:''}
    }
    var list_jishu_data3 ={
        classes:{partInList:'partTwo float-l ', icon:'icon-jishuhehuoren bg circle', iconDesc:{iTitle:'', number:''}, title:'listTitleTwo', subTitle:'listSubTitle', info:'infoTwo', desc:'', other:''},
        datas:{
            partInList:'', title:'技术合伙⼈', subTitle:'PARTNER', info:'做最默契的合伙人，你准备好了吗', desc:[], other:''}
    }
     
//-首页 - 增值服务
-
    var  list_zengzhi_data1 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-chuangyisheji ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'创意设计', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·logo设计','·徽标设计','·图标设计 '], other:''}
        }
    }
    var  list_zengzhi_data2 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-shangbiaozhuce ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'商标注册', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·担保注册','·快速网申'], other:''}
        }
    }
    var  list_zengzhi_data3 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-shichangtiaocha ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'市场调查', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·用户调查','·产品调查','·需求评估','·概念测试'], other:''}
        }
    }
    var  list_zengzhi_data4 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-chanpinsheji2 ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'产品设计', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·UI设计','·原型绘制','·产出demo'], other:''}
        }
    }
    var  list_zengzhi_data5 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-rongzifuzhu ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'融资辅助', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·产品方案','·市场战略','·营销推广','·融资引荐'], other:''}
        }
    }
    var  list_zengzhi_data6 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-ziyuanzhenghe ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'资源整合', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·渠道整合','·投放方案','·跨平台联动'], other:''}
        }
    }
    var  list_zengzhi_data7 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-yingxiaotuiguang ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'营销推广', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·产品包装','·营销方案','·推广投放','·品牌塑造'], other:''}
        }
    }
    var  list_zengzhi_data8 = {
        style:'part-increase',
        hr:'hr-increase',
        left:{
            style:'part-increase-left',
            classes:{partInList:'', icon:'icon-yunyingweihu ', iconDesc:{style:'',iTitle:'iTitle-increase', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'运营维护', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'part-increase-right',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:' ', info:'', desc:'desc-increase', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:['·用户维护','·活动运营','·技术运维','·CRM系统'], other:''}
        }
    }


//-首页 - 代码市场
-
    var list_daima_data1 ={
        classes:{partInList:'partFour float-l ', icon:'icon-chuangyezhe', iconDesc:{iTitle:'', number:''}, title:'listTitleFour', subTitle:'listSubTitleFour', info:'infoFour', desc:'', other:'bt'},
        datas:{
            partInList:'', title:'创业者、企业', subTitle:'(找外包 招兼职 找顾问)', info:'一旦有新的外包信息，将会以邮件的形式发给所有人', desc:[], other:'我要发外包'}
    }
    var list_daima_data2 ={
        classes:{partInList:'middle', icon:'icon-jiaoyishichang', iconDesc:{iTitle:'icon-desc-four', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
        datas:{
            partInList:'', iconDesc:{iTitle:'市场交易', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
    }
    var list_daima_data3 ={
        classes:{partInList:'partFour float-r ', icon:'icon-shouyiren', iconDesc:{iTitle:'', number:''}, title:'listTitleFour', subTitle:'listSubTitleFour', info:'infoFour', desc:'', other:'bt'},
        datas:{
            partInList:'', title:'程序员、设计师、PM等', subTitle:'(接私活 做兼职 当顾问)', info:'我们很快加你，并帮你一起得到最佳发包方案', desc:[], other:'我要接外包'}
    }