-
    var title_fuwulingyu={classes:{titleDiv:'',titleCnt:'padding-bottom-35',egTitle:'',cnTitle:'white',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'服务领域',info:'',desc:'',list:[]}}
    var title_liuchengzhaiyao={classes:{titleDiv:'',titleCnt:'padding-bottom-35',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'流程摘要',info:'',desc:'',list:[]}}
//- 外包平台 banner下面的块
-
    var list_banner_data1 = {
        classes:{partInList:'part-out', icon:'icon-yunyingweihu', iconDesc:{iTitle:'part-out-iTitle', number:''}, title:'list-title-out', subTitle:'', info:'info-out', desc:'', other:'shadow-out'},
        datas:{partInList:'', iconDesc:{iTitle:'技术研发', number:''}, title:'以丰富的行业经验为支撑', subTitle:'', info:'涵盖安卓、iOS、Html5和微信开发。规范的需求咨询、软件开发流程，完整的管理体系和先进的开发平台，保证了软件开发质量，并提', desc:[], other:''}
    }  
    var list_banner_data2 = {
        classes:{partInList:'part-out', icon:'icon-chanpinsheji', iconDesc:{iTitle:'part-out-iTitle', number:''}, title:'list-title-out', subTitle:'', info:'info-out', desc:'', other:'shadow-out'},
        datas:{partInList:'', iconDesc:{iTitle:'产品设计', number:''}, title:'立足于以用户体验为中心', subTitle:'', info:'专业严谨的流程与方法，深入细致的研究与洞察，从需求梳理、思维碰撞、原型设计、UI设计，用户为王，体验至上，打造高颜值APP。', desc:[], other:''}
    } 


//- 外包平台 - 流程摘要
-
    var arrow = {//箭头
        classes:{partInList:'part-out-procedure', icon:'', iconDesc:{style:'arrow',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
    }
    var arrowR = {//反箭头
        classes:{partInList:'part-out-procedure', icon:'', iconDesc:{style:'arrow rotate',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
    }
    var list_flow_data1 = {
        classes:{partInList:'part-out-procedure', icon:'', iconDesc:{style:'icon-bg-out-procedure',iTitle:'iTitle-out-procedure', number:'icon-number-out-procedure'}, title:'', subTitle:'', info:'', desc:'desc-out-procedure', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'需求提交', number:'1'}, title:'', subTitle:'', info:'', desc:['提交开发需求'], other:''}
    }
     var list_flow_data2 = {
        classes:{partInList:'part-out-procedure', icon:'', iconDesc:{style:'icon-bg-out-procedure',iTitle:'iTitle-out-procedure', number:'icon-number-out-procedure'}, title:'', subTitle:'', info:'', desc:'desc-out-procedure', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'客服介入', number:'2'}, title:'', subTitle:'', info:'', desc:['技术范围及项目评估','合作模式确定','协议合同的签订'], other:''}
    }
    var list_flow_data3 = {
        classes:{partInList:'part-out-procedure', icon:'', iconDesc:{style:'icon-bg-out-procedure',iTitle:'iTitle-out-procedure', number:'icon-number-out-procedure'}, title:'', subTitle:'', info:'', desc:'desc-out-procedure', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'项目开发', number:'3'}, title:'', subTitle:'', info:'', desc:['成⽴工作组','制定研发周期表','原型及设计确认','全程委托开发'], other:''}
    }
    var list_flow_data4 = {
        classes:{partInList:'part-out-procedure', icon:'', iconDesc:{style:'icon-bg-out-procedure',iTitle:'iTitle-out-procedure', number:'icon-number-out-procedure'}, title:'', subTitle:'', info:'', desc:'desc-out-procedure', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'流程监控', number:'4'}, title:'', subTitle:'', info:'', desc:['按周期表工作','实时监控项目进度','质量流程监控 '], other:''}
    }
    var list_flow_data5 = {
        classes:{partInList:'part-out-procedure', icon:'', iconDesc:{style:'icon-bg-out-procedure',iTitle:'iTitle-out-procedure', number:'icon-number-out-procedure'}, title:'', subTitle:'', info:'', desc:'desc-out-procedure', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'交付验收', number:'5'}, title:'', subTitle:'', info:'', desc:['项目交接测试','技术交接及培训','项目维护','售后咨询'], other:''}
    }
