include data.pug
include definition.pug

head
    +styleLink("../src/font/iconfont.css")
    +styleLink("app.css")
    
body
    div.part
        +tplListA(list1)
        +tplListA(list2)
        +tplListA(list3)
        +tplListA(list4)
        +tplListA(list5)
        +tplListA(list6)
    div.grey
        div.part.grey
            +tplListA(list7)
            +tplListA(list8)
            +tplListA(list9)

    div //增值市场

    div.grey
        div.part
            +tplListA(list10)
            +tplListA(list11)
            +tplListA(list12)

    div.part
        +tplListA(list13)
        +tplListA(list14)
    div.part
        +tplListA(list15)
        +tplListA(arrow)
        +tplListA(list16)
        +tplListA(arrowR)
        +tplListA(list17)
        +tplListA(arrow)
        +tplListA(list18)
        +tplListA(arrowR)
        +tplListA(list19)
    div.part
        +tplListA(list20)
        +tplListA(list21)
        +tplListA(list22)
        +tplListA(list23)
    div.part
        +tplListA(list24)
        +tplListA(list25)
        +tplListA(list26)
        +tplListA(list27)
        +tplListA(list28)
        +tplListA(list29)
    div.part
        +tplListA(list30)
        +tplListA(list31)
        +tplListA(list32)
    div.part
        +tplListA(list33)
        +tplListA(line)
        +tplListA(list34)
        +tplListA(line)
        +tplListA(list35)
        +tplListA(line)
        +tplListA(list36)
        +tplListA(line)
        +tplListA(list37)
    div.part
        +tplListA(list40)
        +tplListA(list41)
        +tplListA(list42)
    div.part
        +tplListA(list43)
        +tplListA(line)
        +tplListA(list44)
        +tplListA(line)
        +tplListA(list45)
        +tplListA(line)
        +tplListA(list46)
        +tplListA(line)
        +tplListA(list47)
    div.part
        +tplListA(list50)
        +tplListA(list51)
        +tplListA(list52)
    div.part
        +tplListA(list53)
        +tplListA(line)
        +tplListA(list54)
        +tplListA(line)
        +tplListA(list55)
        +tplListA(line)
        +tplListA(list56)
        +tplListA(line)
        +tplListA(list57)

    div.part
        +tplListA(list60)
        +tplListA(list61)
        +tplListA(list62)
    div.part
        +tplListA(list63)
        +tplListA(line)
        +tplListA(list64)
        +tplListA(line)
        +tplListA(list65)
        +tplListA(line)
        +tplListA(list66)
        +tplListA(line)
        +tplListA(list67)

    div.part
        +tplListA(list70)
        +tplListA(list71)
        +tplListA(list72)
    div.part
        +tplListA(list73)
        +tplListA(line)
        +tplListA(list74)
        +tplListA(line)
        +tplListA(list75)
        +tplListA(line)
        +tplListA(list76)
        +tplListA(line)
        +tplListA(list77)

    div.part
        +tplListA(list80)
        +tplListA(list81)
        +tplListA(list82)
        +tplListA(list83)
    div.part
        +tplListA(list90)
        +tplListA(list91)
        +tplListA(list92)
        +tplListA(list93)

    div.grey
        div(style='width: 815px;margin: 0 auto;')
            +tplListB(list100)
            +tplListB(list101)
            +tplListB(list102)
            +tplListB(list103)
            +tplListB(list104)
            +tplListB(list105)
    
    div.part
            +tplListB(list200)
            +tplListB(list201)

    div.part
            +tplListC(list300)
            +tplListC(list301)
            +tplListC(list302)
            +tplListC(list304)
            +tplListC(list305)
            +tplListC(list306)
            +tplListC(list307)
            +tplListC(list308)

    +tplListD







        

    +tplTitle(title1)
    +tplTitle(title2)
    +tplTitle(title3)
    +tplTitle(title4)
    +tplTitle(title5)
    +tplTitle(title6)
    +tplTitle(title7)
    +tplTitle(title8)
    +tplTitle(title9)
    +tplTitle(title10)
    +tplTitle(title11)
    +tplTitle(title12)
    +tplTitle(title13)
    +tplTitle(title14)
    +tplTitle(title15)
    +tplTitle(title16)
    +tplTitle(title17)
    +tplTitle(title18)
    +tplTitle(title19)
    +tplTitle(title20)
    +tplTitle(title21)
    +tplTitle(title22)
    +tplTitle(title23)
    +tplTitle(title24)
    +tplTitle(title25)




    
    .foot
        +footPart

    script(src='bundle.js')