//- 技术团队孵化
-
    var title_jishutuanduifuhua={classes:{titleDiv:'grey',titleCnt:'padding40',egTitle:'',cnTitle:'',info:'',desc:'paddingBottom23',aList:''}, datas:{egTitle:'',cnTitle:'技术团队孵化',info:'',desc:'从组队、培训、开发到监督，全方位保证你的创意转化，在完成APP项目的同时收获自己专属的团队。',list:['服务内容','合作方式','服务流程']}}
    var title_fuwuneirong={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Service Items',cnTitle:'服务内容',info:'专业的团队保证一流的产品。',desc:'',list:[]}}
    var title_hezuofangshi={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Be with us',cnTitle:'合作方式',info:'',desc:'',list:[]}}


//- 技术团队孵化 -服务内容
-
     var list_fuwu_data1 = {
        classes:{partInList:'part-team-service', icon:'icon-tuanduifuhua hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'团队孵化', subTitle:'', info:'低成本，低风险，从0到1，为你招聘、培训、指导终成为有默契的一只核心团队。 ', desc:[], other:''}
    }
    var list_fuwu_data2 = {
        classes:{partInList:'part-team-service', icon:'icon-jishupeixun hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'技术培训', subTitle:'', info:'系统化的研发技术培训，1对1⽆交流沟通。让施展开发中成长，并提供相应的规划指导。', desc:[], other:''}
    }
    var list_fuwu_data3 = {
        classes:{partInList:'part-team-service', icon:'icon-chanpinkaifa hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'产品开发', subTitle:'', info:'深度配合的⼯作模式，有丰富开发经验的主团队带队，保障业务需求，确保孵化团队后续的基础维护服务、SEO营销。', desc:[], other:''}
    }
    var list_fuwu_data4 = {
        classes:{partInList:'part-team-service', icon:'icon-jianguantizhi hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'监管体制', subTitle:'', info:'多年的互联⽹从业经验，成熟的项⽬管理流程与完善的质量监控体系，保证了操作流程性和⽤户体验流畅。 ', desc:[], other:''}
    }
    var list_fuwu_data5 = {
        classes:{partInList:'part-team-service', icon:'icon-xiangmushenhe hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'项目审核', subTitle:'', info:'专业的研发流程为你提供定制化解决方案，从初次的审核确认到再次的优化修改，直到你我满意为止。 ', desc:[], other:''}
    }
    var list_fuwu_data6 = {
        classes:{partInList:'part-team-service', icon:'icon-tuanduijiaojie hexagon-grey', iconDesc:{iTitle:'', number:''}, title:'list-title-service', subTitle:'', info:'linfo-service', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'团队交接', subTitle:'', info:'项目交接时，您将得到专属的专业化流程、优质的服务、丰富的经验以及对创意品质的追求核心团队。', desc:[], other:''}
    }


//-技术团队孵化 -   合作方式
-
  var  list_hezuo_data1 = {
        style:'part-team-cooper',
        left:{
            classes:{partInList:'', icon:'icon-jishutouzi ', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-team-cooper', subTitle:'list-sub-title-team-cooper margin-bottom-40', info:'info-team-cooper', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'技术投资', subTitle:'Technology Investment', info:'为符合技天使发展方向的项⽬提供技术投资服务 。', desc:[], other:''}
        }
    }
    var  list_hezuo_data2 = {
        style:'part-team-cooper',
        left:{
            classes:{partInList:'', icon:'icon-jishuhehuoren2 ', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        middle:{
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
        },
        right:{
            style:'',
            classes:{partInList:'', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-team-cooper', subTitle:'list-sub-title-team-cooper ', info:'info-team-cooper', desc:'', other:''},
            datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'技术合伙人', subTitle:'Professional Technology Partner ', info:'为优秀的创业项目提供专业的技术支持。', desc:[], other:''}
        }
    }
