include team_data.pug
include head.pug
body
    include nav.pug
    +tplTitle(title_jishutuanduifuhua)
    div.part.padding-bottom-0
        +tplTitle(title_fuwuneirong)
        .be-center(style="margin: 10px 77px;")
            +tplListA(list_fuwu_data1)
            +tplListA(list_fuwu_data2)
            +tplListA(list_fuwu_data3)
            +tplListA(list_fuwu_data4)
            +tplListA(list_fuwu_data5)
            +tplListA(list_fuwu_data6)
    div.grey
        div.part
            +tplTitle(title_hezuofangshi)
            .be-center
                +tplListB(list_hezuo_data1)
                +tplListB(list_hezuo_data2)
            .bt.bt-other  立即合作

    .foot
        +footPart

    script(src='bundle.js')
    