
//-技术研发
-
    var title_jishuyanfa={classes:{titleDiv:'grey',titleCnt:'padding40',egTitle:'',cnTitle:'orange',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'技术研发',info:'',desc:'我们致力于创造和提升简单可依赖的用户体验，用设计驱动产品价值。',list:['服务简介','安卓开发','iOS开发','Html5开发','微信开发','微信小程序','服务流程']}}
    var title_fuwujianjie={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Service Profile',cnTitle:'服务简介',info:'芦苇科技，一家互联网+孵化公司，一站式提供产品孵化研发，及创意营销推广解决方案。 扎根市场多年，运用丰富经验，成就客户的成功。',desc:'',list:[]}}
    var title_android={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Android Development',cnTitle:'安卓开发',info:'完美人机交互与程序优化，高硬件适应性',desc:'安卓APP应用软件已经占据国内移动应用市场的70%以上，开发Android手机，迅速占领市场 ，app软件的重要性日益凸显。',list:[]}}
    var title_ios={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'iOS Development',cnTitle:'iOS开发',info:'一站式完整的开发与推广，流畅的用户体验',desc:'我们拥有国内顶级的IOS开发团队，我们承诺，为您提供一站式的iOS完整的系统结构与内容编程， 落实app定制开发服务。',list:[]}}
    var title_html5={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Html5 Development',cnTitle:'Html5开发',info:'支持跨平台离线使用，更具创意，开发更敏捷',desc:'HTML5 本身就是移动应用平台，具有移动应用平台所需的所有元素，是近十年来Web开发标准最巨大的飞跃。和以前的版本不同 是H',list:[]}}
    var title_wechat={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Wechat Development',cnTitle:'微信开发',info:'微信用户挖掘，微商城、微网站、营销定制',desc:'微信作为移动端最大的⼊口，以资讯服务为目标，作为流量导入APP视为佳策。芦苇科技为您提供专业的微信公众号平台、应用号 ⼩程序平',list:[]}}
    var title_wechatPro={classes:{titleDiv:'',titleCnt:'',egTitle:'',cnTitle:'',info:'',desc:'',aList:''}, datas:{egTitle:'Wechat Development',cnTitle:'微信小程序开发',info:'微信用户挖掘，微商城、微网站、营销定制',desc:'微信作为移动端最大的⼊口，以资讯服务为目标，作为流量导入APP视为佳策。芦苇科技为您提供专业的微信公众号平台、应用号 ⼩程序平',list:[]}}
    var subTitle_service={classes:{titleDiv:'',titleCnt:'padding-bottom-35',egTitle:'',cnTitle:'sub-title-tech',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'服务内容',info:'',desc:'',list:[]}}
    var subTitle_android={classes:{titleDiv:'',titleCnt:'padding-bottom-35',egTitle:'',cnTitle:'sub-title-tech',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'Android的三大优势',info:'',desc:'',list:[]}}
    var subTitle_ios={classes:{titleDiv:'',titleCnt:'padding-bottom-35',egTitle:'',cnTitle:'sub-title-tech',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'iOS的三大优势',info:'',desc:'',list:[]}}
    var subTitle_html5={classes:{titleDiv:'',titleCnt:'padding-bottom-35',egTitle:'',cnTitle:'sub-title-tech',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'Html5的三大优势',info:'',desc:'',list:[]}}
    var subTitle_wechat={classes:{titleDiv:'',titleCnt:'padding-bottom-35',egTitle:'',cnTitle:'sub-title-tech',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'微信开发的三大优势',info:'',desc:'',list:[]}}
    var subTitle_wechatPro={classes:{titleDiv:'',titleCnt:'padding-bottom-35',egTitle:'',cnTitle:'sub-title-tech',info:'',desc:'',aList:''}, datas:{egTitle:'',cnTitle:'微信小程序的三大优势',info:'',desc:'',list:[]}}




//-技术研发 - 服务简介
-
    var list_ser_data1 = {
        classes:{partInList:'part-tech-serv bg-profession', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-tech-serv', subTitle:'', info:'info-tech-serv', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'专业', subTitle:'', info:'技术开发，不止步于技术。拒绝成为APP流水工厂，每一次研发，都立足用户和市场，充分考虑后续融资与营销需求。过硬的技术，只有匹配', desc:[], other:''}
    }

    var list_ser_data2 = {
        classes:{partInList:'part-tech-serv bg-concentrate', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-tech-serv', subTitle:'', info:'info-tech-serv', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'专注', subTitle:'', info:'老道默契的团队，创新型学习型企业文化，一“老”一“新”，10余年专注于互联网产品，紧跟互联网快速迭代的浪潮。拒绝童子军，把专业', desc:[], other:''}
    }

    var list_ser_data3 = {
        classes:{partInList:'part-tech-serv bg-effeciency', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-tech-serv', subTitle:'', info:'info-tech-serv', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'效率', subTitle:'', info:'天下武功，唯快不破。缩短开发周期，准确判断产品窗口期，快速响应需求，永远快人一步，助你抢占市场先机。 ', desc:[], other:''}
    }

    var list_ser_data4 = {
        classes:{partInList:'part-tech-serv bg-beaty', icon:'', iconDesc:{style:'',iTitle:'', number:''}, title:'list-title-tech-serv', subTitle:'', info:'info-tech-serv', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'臻美', subTitle:'', info:'至于至善，追求完美。“挑剔’在我们这里，是褒义词。全程“保姆式”开发，以工匠精神为客户深究每一个环节。在看不到的也要做到精致，', desc:[], other:''}
    }


  var line = {
        classes:{partInList:'part-tech-ser line', icon:'', iconDesc:{style:'',iTitle:' ', number:''}, title:'', subTitle:'', info:'', desc:'', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:''}, title:'', subTitle:'', info:'', desc:[], other:''}
    }
//- 技术研发 - h5 -优势
-
    var list_h5_adv_data1 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'01'}, title:'移动体验好', subTitle:'MOBILE EXPERIENCE ', info:'', desc:['自动检测适应','更符合操作习惯','使用更流畅'], other:''}
    }
    var list_h5_adv_data2 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'02'}, title:'推广成本低', subTitle:'PROMOTION OF LOW COST', info:'', desc:['直接访问体验','操作简单','用户更喜欢'], other:''}
    }
    var list_h5_adv_data3 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'03'}, title:'建站速度快', subTitle:'SPEED IS FAST  ', info:'', desc:['开发技术成熟','开发速度快'], other:''}
    }

//- 技术研发  -h5-服务
-

  var list_h5_ser_data1 = {
        classes:{partInList:'part-tech-ser', icon:'icon-baituopingtaiyilai particular-i', iconDesc:{style:'',iTitle:'iTitle-tech-ser particular-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'摆脱平台 依赖', number:''}, title:'', subTitle:'', info:'', desc:['浏览器直接访问','无需store审核','更像APP体验'], other:''}
    }
    var list_h5_ser_data2 = {
        classes:{partInList:'part-tech-ser', icon:'icon-shishigengxin darkGreen-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'实时更新', number:''}, title:'', subTitle:'', info:'', desc:['内容实时更新','审核周期短','发布后无需维护'], other:''}
    }
    var list_h5_ser_data3 = {
        classes:{partInList:'part-tech-ser', icon:'icon-lixianshiyong red-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'离线使用', number:''}, title:'', subTitle:'', info:'', desc:['离线使用','更新下载量少'], other:''}
    }
    var list_h5_ser_data4 = {
        classes:{partInList:'part-tech-ser', icon:'icon-daimaanquan green-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'代码安全', number:''}, title:'', subTitle:'', info:'', desc:['代码更安全','运行更流畅'], other:''}
    }
    var list_h5_ser_data5 = {
        classes:{partInList:'part-tech-ser', icon:'icon-kuapingtai orange-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'跨平台', number:''}, title:'', subTitle:'', info:'', desc:['跨平台运行','可重复调用','减少工作量'], other:''}
    }


    //- 技术研发 - Android -优势
-
    var list_android_adv_data1 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'01'}, title:'用户量最多', subTitle:'THE MOST USERS', info:'', desc:['全球使用量最多','发行量持续增长'], other:''}
    }
    var list_android_adv_data2 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'02'}, title:'推广相对容易', subTitle:'EASY SEO', info:'', desc:['开放系统','开发自由度高','更接近你所想'], other:''}
    }
    var list_android_adv_data3 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'03'}, title:'系统开放性高', subTitle:' HIGHLY OPENING SYSTEM', info:'', desc:['开发技术成熟','开发速度快'], other:''}
    }

//- 技术研发  Android - 服务
-
  var list_android_ser_data1 = {
        classes:{partInList:'part-tech-ser', icon:'icon-UIsheji2 ', iconDesc:{style:'',iTitle:'iTitle-tech-ser ', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'UI设计', number:''}, title:'', subTitle:'', info:'', desc:['原型设计','交互逻辑','界面设计'], other:''}
    }
    var list_android_ser_data2 = {
        classes:{partInList:'part-tech-ser', icon:'icon-yanfa darkGreen-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'研发', number:''}, title:'', subTitle:'', info:'', desc:['原生程序','程序优化','内存控制'], other:''}
    }
    var list_android_ser_data3 = {
        classes:{partInList:'part-tech-ser', icon:'icon-ceshi red-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'测试', number:''}, title:'', subTitle:'', info:'', desc:['分辨率测试','硬件匹配','逻辑检测'], other:''}
    }
    var list_android_ser_data4 = {
        classes:{partInList:'part-tech-ser', icon:'icon-tuiguang green-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'推广', number:''}, title:'', subTitle:'', info:'', desc:['推广方案','运营策划','快速发布'], other:''}
    }
    var list_android_ser_data5 = {
        classes:{partInList:'part-tech-ser', icon:'icon-fuwu orange-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'服务', number:''}, title:'', subTitle:'', info:'', desc:['免费Bug修复','后期系统优化','完美监控'], other:''}
    }

    //- 技术研发 - IOS -优势
-
    var list_iso_adv_data1 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'01'}, title:'营收更容易', subTitle:'EASY REVENUES ', info:'', desc:['用户更愿意付费','支付方式便捷'], other:''}
    }
    var list_iso_adv_data2 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'02'}, title:'应用发布统一且唯一', subTitle:' UNIFIED RELEAES ', info:'', desc:['唯一app','store商店','方便搜索应用','平台维护费用低'], other:''}
    }
    var list_iso_adv_data3 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'03'}, title:'系统机型少、适配最优', subTitle:' HIGHLY ADAPTIVE ', info:'', desc:['系统机型单一 ','系统规范明确','开发成本低'], other:''}
    }

//- 技术研发  IOS - 服务
-
  var list_iso_ser_data1 = {
        classes:{partInList:'part-tech-ser', icon:'icon-UIsheji2 ', iconDesc:{style:'',iTitle:'iTitle-tech-ser ', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'UI设计', number:''}, title:'', subTitle:'', info:'', desc:['原型设计','交互逻辑','界面设计'], other:''}
    }
    var list_iso_ser_data2 = {
        classes:{partInList:'part-tech-ser', icon:'icon-yanfa darkGreen-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'研发', number:''}, title:'', subTitle:'', info:'', desc:['原生程序','程序优化','内存控制'], other:''}
    }
    var list_iso_ser_data3 = {
        classes:{partInList:'part-tech-ser', icon:'icon-ceshi red-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'测试', number:''}, title:'', subTitle:'', info:'', desc:['分辨率测试','硬件匹配','逻辑检测'], other:''}
    }
    var list_iso_ser_data4 = {
        classes:{partInList:'part-tech-ser', icon:'icon-tuiguang green-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'推广', number:''}, title:'', subTitle:'', info:'', desc:['推广方案','运营策划','快速发布'], other:''}
    }
    var list_iso_ser_data5 = {
        classes:{partInList:'part-tech-ser', icon:'icon-fuwu orange-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'服务', number:''}, title:'', subTitle:'', info:'', desc:['免费Bug修复','后期系统优化','完美监控'], other:''}
    }



    //- 技术研发 - 微信开发 -优势
-
    var list_wechat_adv_data1 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'01'}, title:'资讯展示', subTitle:'MOBILE EXPERIENCE ', info:'', desc:['官网设置与内容推送','随时发布资讯动态','形象塑造和APP推广容易'], other:''}
    }
    var list_wechat_adv_data2 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'02'}, title:'服务咨询', subTitle:' PROMOTION OF LOW COST', info:'', desc:['用户群体庞大','自定义微信菜单','信息反馈与分析方便'], other:''}
    }
    var list_wechat_adv_data3 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'03'}, title:'消费交易', subTitle:'SPEED IS FAST ', info:'', desc:['快速打造微商城与官网','企业品牌延伸方便','建立泛用户体系容易'], other:''}
    }

//- 技术研发  微信开发 - 服务
-
  var list_wechat_ser_data1 = {
        classes:{partInList:'part-tech-ser', icon:'icon-weiwangzhan ', iconDesc:{style:'',iTitle:'iTitle-tech-ser ', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'微网站', number:''}, title:'', subTitle:'', info:'', desc:['浏览器直接访问','无需store审核','更像APP体验'], other:''}
    }
    var list_wechat_ser_data2 = {
        classes:{partInList:'part-tech-ser', icon:'icon-weishangcheng darkGreen-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'微商城', number:''}, title:'', subTitle:'', info:'', desc:['内容实时更新','审核周期短','发布后无需维护'], other:''}
    }
    var list_wechat_ser_data3 = {
        classes:{partInList:'part-tech-ser', icon:'icon-weiyingxiao red-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'微营销', number:''}, title:'', subTitle:'', info:'', desc:['离线使用‘','更新下载量少'], other:''}
    }
    var list_wechat_ser_data4 = {
        classes:{partInList:'part-tech-ser', icon:'icon-weidingzhi green-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'微定制', number:''}, title:'', subTitle:'', info:'', desc:['代码更安全','运行更流畅'], other:''}
    }
    var list_wechat_ser_data5 = {
        classes:{partInList:'part-tech-ser', icon:'icon-weishequ orange-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'微社区 ', number:''}, title:'', subTitle:'', info:'', desc:['保持用户黏性','促进平台活跃度','提高品牌忠诚度'], other:''}
    }


     //- 技术研发 - 微信小程序 -优势
-
    var list_wechatPro_adv_data1 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'01'}, title:'用户基数大', subTitle:'THE MOST USERS ', info:'', desc:['利用微信庞大用户基数','营销推广成本最小化'], other:''}
    }
    var list_wechatPro_adv_data2 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'02'}, title:'无需安装', subTitle:' WITHOUT INSTALLATION', info:'', desc:['无需安装即开即用','UI操作统一 ','用户体验流畅'], other:''}
    }
    var list_wechatPro_adv_data3 = {
        classes:{partInList:'part-tech-adv', icon:'', iconDesc:{style:'',iTitle:'', number:'icon-number-tech-adv'}, title:'list-title-tech-adv', subTitle:'list-sub-title-tech-adv', info:'', desc:'desc-tech', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'', number:'03'}, title:'灵活配置', subTitle:'FLEXIBLE CONFIGURATION ', info:'', desc:['更低廉的开发成本','更敏捷的开发流程','更高的用户兼容性'], other:''}
    }

//- 技术研发  微信小程序 - 服务
-
  var list_wechatPro_ser_data1 = {
        classes:{partInList:'part-tech-ser', icon:'icon-goutong ', iconDesc:{style:'',iTitle:'iTitle-tech-ser ', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'需求沟通', number:''}, title:'', subTitle:'', info:'', desc:['功能确认','原型设计'], other:''}
    }
    var list_wechatPro_ser_data2 = {
        classes:{partInList:'part-tech-ser', icon:'icon-yanfa darkGreen-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'研发', number:''}, title:'', subTitle:'', info:'', desc:['云端资源分配','程序开发','运行优化'], other:''}
    }
    var list_wechatPro_ser_data3 = {
        classes:{partInList:'part-tech-ser', icon:'icon-ceshi red-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'测试', number:''}, title:'', subTitle:'', info:'', desc:['逻辑检测','小规模用户测试','意见反馈'], other:''}
    }
    var list_wechatPro_ser_data4 = {
        classes:{partInList:'part-tech-ser', icon:'icon-tuiguang green-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'推广', number:''}, title:'', subTitle:'', info:'', desc:['推广方案','运营策划','活动创意'], other:''}
    }
    var list_wechatPro_ser_data5 = {
        classes:{partInList:'part-tech-ser', icon:'icon-fuwu orange-c', iconDesc:{style:'',iTitle:'iTitle-tech-ser', number:''}, title:'', subTitle:'', info:'', desc:'desc-tech padding-left-25', other:''},
        datas:{partInList:'', iconDesc:{iTitle:'服务', number:''}, title:'', subTitle:'', info:'', desc:['免费Bug修复','后期系统优化','完美监控'], other:''}
    }


