$pageWidth: 1100px;/* 可视宽度(中间部分) */

$lightGrey: #F0F2F4;
$darkGrey: #979797;
$orange: #FF7800;

$normalColor: grey;
$hoverColor: red;
$navWidth: 840px;
$navRealWidth: $navWidth - 40px;/* 40px是padding-left */
$navListNum: 8;
$navListBorder: 1px;
$navListWidth: $navRealWidth - $navListNum*$navListBorder*2;

$subTitleColor: #979797;
$subTitleContentWidth: 720px;
$subTitleBorderValue: 1px solid #D3D3D3;

$partOneListWidth: 210px;/* content */
$partOneListPadding: (($pageWidth/3) - $partOneListWidth)/2;

$partTwoListWidth: 230px; /* inlcuding padding */
$partTwoListHeight: 320px;/* inlcuding padding */
$partTwoListPaddingLR: 25px;
$partTwoListPaddingTop: 119px;

$partThreeListWidth: 233px; /* inlcuding padding */
$partThreeListHeight: 156px;/* inlcuding padding */
$partThreeListBorder: 1px;
$partThreeListMargin: (($pageWidth/4) - $partThreeListWidth)/2;

$partThreeListPaddingLRTB: 20px;
$partThreeListPaddingTop: 119px;

$partOutListWidth: 372px;/* content */
$partOutListPadding: (($pageWidth/2) - $partOutListWidth)/2;

$arrowWidth: 86px;
$partOutProcedureListWidth: 150px;
$partOutProcedureListIconWidth: 26px;
$partOutProcedureListIconBorder: 3px;

$partTechAdvWidth: 220px;
$partTechAdvMargin: (($pageWidth/3) - $partTechAdvWidth)/2;

$circle-far: (350px/2) - (92px/2);
$circle-closed: 0px - (92px)/2;





@mixin paddingV($lr,$tb) {
    padding: $lr $tb;
}

@mixin contentPage{
    margin: 0 auto;
    width: $pageWidth;
}


@function chu($m,$n) {
    @return ($m - 0px);
}


$paddingTB70: 70px 0 0;
$paddingTB40: 40px 0;


