@import "index_definition";
@import "public_style";



.grey {
    background-color: $lightGrey;
}

.top {
    @include contentPage;

    display: table;
}
.nav {
    display: inline-block;
    
    margin: 0;
    width: $navRealWidth;
}
.nav-list {
    @extend .float-l;
    @include paddingV(16px,0);
    
    list-style: none;
    
    border: $navListBorder solid #e6e2e2;
    width: ($navListWidth/$navListNum);
    
    text-align: center;
    
    color: $normalColor;
    
    &:hover {
        border-color: $normalColor;
    
        color: white;
        background-color: $normalColor;
        hr {
            border-color: orange;
        }
    }
}
.hr-in-nav {
    margin: 3px 0 0 17px;
    border-style: solid;
    border-color: #{$normalColor};
    width: 13px;
}
.other {
    margin: 3px 0 0 33px;
}

.banner img {
    width: 100%;
}

.part {
    @include contentPage;

    padding-bottom: 60px;
    
    text-align: center;

    &:after {
        /* 为什么要写在after哩呢？如果只在父元素.part里面加个clear:both就可以了，但是在after里一定要display/clear/content三者不可缺一才清除到浮动，why？ */
        display: block;
        clear: both;
        
        content: '';
    }
}
.title {
    padding-top: 141px - 23px;
    padding-bottom: 23px;

    font-size: 32px;
}
.subtitle {
    margin: 0 ($pageWidth - $subTitleContentWidth)/2;
    margin-bottom: 37px;
    border-top: $subTitleBorderValue;
    border-bottom: $subTitleBorderValue;
    padding: 5px;

    font-size: 18px;
    line-height: 30px;

    color: $subTitleColor;
}


.partOne {
    position: relative;

    padding: 0 $partOneListPadding;
    width: $partOneListWidth;
    height: 297px;

    background-image: url('/src/images/hexagon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;

    .icon {
        @extend .white;

            padding: 53px 0;
        
            font-size: 61px;
    }
}
.listTitleOne {
    font-size: 22px;

    color: #4d4d4d;
}
.descOne { /* 不用 */
    margin-top: 15px;

    font-size: 16px;
    line-height: 22px;

    color: $darkGrey;
}
.infoOne {
    margin-top: 15px;

    font-size: 16px;
    line-height: 22px;

    color: $darkGrey;
}
.shadow {
    position: absolute;

    z-index: -1;

    border-right: 5px solid red;
    border-left: 5px solid red;
    -webkit-border-image: -webkit-linear-gradient(#F5F5F5, rgba(0,0,0,0) ) 16 39%;/* boder渐变效果：不知道后面那两个值是什么，但是调成这个值目前的应用效果最好 */
    padding:0 1px;
    width:148px;
    height:100px;

    background-image: -webkit-linear-gradient(top, #DBDBDB, #ffffff 90%);
    background-clip: content-box;/* 属性规定背景的绘制区域 padding-box border-box content-box */

    -webkit-transform: skew(-3deg) rotate(-27deg); /* Safari 和 Chrome */
    -moz-transform: skew(-3deg) rotate(-27deg); /* Firefox */
    -ms-transform: skew(-3deg) rotate(-27deg); /* Internet Explorer */
    -o-transform: skew(-3deg) rotate(-27deg); /* Opera */
    transform: skew(-3deg) rotate(-27deg);
}
.shadowOne {
    @extend .shadow;
    top:75px;
    left:124px;//1100; 1000 - 107px;
}


.partTwo {
    position:relative;

    margin:60px-37px 40px 69px;/* 60是总共的，37是subtiltle的一个margin-bottom */
    padding-top: $partTwoListPaddingTop;
    padding-left: $partTwoListPaddingLR;
    padding-right: $partTwoListPaddingLR;
    width: $partTwoListWidth - 2*$partTwoListPaddingLR;
    height: $partTwoListHeight - $partTwoListPaddingTop;

    font-size: 20px;
    line-height: 30px;
    text-align: left;

    background-color: white;
}
.bg {
    position: absolute;
    top: -15px;
    right: 27px;

    padding: 40px 0;
    width: 110px;
    height: 110px;
    
    font-size: 60px;
    text-align: center;

    color: $orange;
    background-repeat: no-repeat;
}
.hexagon {
    width: 97px;

    background-image: url('/src/images/hexagon2.png');
}
.rectangle{
    background-image: url('/src/images/img5.png');
}
.circle{
    background-image: url('/src/images/img6.png');
}

.listTitleTwo {
    clear: both;

    color: #4d4d4d;
}
.listSubTitle{
    font-size: 20px;
    line-height: 30px;

    color: $darkGrey;
}
.descTwo {
    margin: 10px 0;

    font-size: 16px;
    line-height: 22px;

    color: $darkGrey;
}
.infoTwo {
    margin: 10px 0;

    font-size: 16px;
    line-height: 22px;

    color: $darkGrey;
}

.partThree {
    position: relative;

    margin: 0 $partThreeListMargin 27px;
    border: 1px solid $lightGrey;
    padding: $partThreeListPaddingLRTB;
    width: $partThreeListWidth - 2*$partThreeListBorder - 2*$partThreeListPaddingLRTB;
    height: $partThreeListHeight - 2*$partThreeListBorder - 2*$partThreeListPaddingLRTB;
    
    .icon {
        font-size: 65px;
        
        color: $orange;
    }

    .desc{
        float: right;
        
        text-align: left;

        color: $lightGrey;
    }
}
.main {

}
.main:after {
    display: block;
    float: right;

    margin-top: -102px;
    margin-right: -17px;
    border: 1px solid $lightGrey;
    width: 0px;
    height: 106px;

    content: '';
}
.listTitleThree{
    padding-top: 10px;

    font-size: 20px;
}
.point {
    display:inline-block;

    margin-bottom: 4px;
    margin-right: 4px;
    border: 1px solid $lightGrey;
    width: 1px;
    height: 1px;
    
    background-color: $lightGrey;
}
.descThree {
    list-style: none;
    
    margin-left: -79px;
    height: ($partThreeListHeight - 2*$partThreeListBorder - 2*$partThreeListPaddingLRTB)/4;
}

.partFour {
    display: inline-block;
    
    margin: 81px-37px 0 86px;
    padding: 0 ( ($pageWidth/3)  - 200px)/2;
    width: 200px;

    .icon {
        font-size: 80px;

        color: $darkGrey;
    }

}
.icon-desc-four {
    font-size: 20px;
    line-height: 30px;
}
.listTitleFour {
    margin: 5px 0;

    font-size: 18px;
}
.listSubTitleFour {
    margin: 5px 0;

    font-size: 16px;
    line-height: 20px;

}
.bt {
    margin: 15px auto 5px;
    border-radius: 19px;
    padding: 5px 15px;
    width: 142px - 30px;
    
    font-size: 18px;

    color: white;
    background-color: $orange;
}
.descFour {
    font-size: 14px;
    line-height: 20px;

    color: $lightGrey;
}
.infoFour {
    font-size: 14px;
    line-height: 20px;

    color: $darkGrey;
}
.middle {
    float: left;

    margin: 0 -105px;
    width: 508.33px;
    height: 300px;

    color: $orange;
    background-image: url('/src/images/img4.png');
    background-repeat: no-repeat;
    background-position: center;

    .icon {
        padding-top: 94px;

        font-size: 65px;

        &:before {
            display: block;
        }
    }
    .content {
        font-size: 20px;
        line-height: 30px;
    }
}

.foot {
    @extend .black;

    padding: 50px 0 25px;
    height: 30%;
    .content {
        margin: 0 auto;
        width: $pageWidth;
    }
    .content-part {
        width: (($pageWidth - 30px)/3);
        color: white;
    }
    .center {
        width: ((($pageWidth - 30px)/3) + 30px);
    }
}
.icon-logo {
    @extend .orange;
    font-size: 30px;
}
.icon-luwei {
    font-size: 50px;
}
.footTitle {
    @extend .orange;

    font-size: 32px;
}
.desc1,.desc2,.desc3 {
    margin-bottom: 10px ;

    font-size: 14px;
    line-height: 18px;

    color: $lightGrey;
}
.footSubTitle2,.footSubTitle,.comName {
    font-size: 20px;

    color: $lightGrey;
}
.cp-r1,.cp-r2 {
    font-size: 14px;

    color: #666666;
}
.comName {
    font-size: 14px;
}


/* CSS六边形
.hexagon {
    width: 100px;
    height: 55px;
    background: red;
    position: relative;
}
.hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid red;
}
.hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid red;
}

*/


/* title */
.title-content {
    margin: 0 auto;
    padding: $paddingTB70;
    width: 1000px;

    text-align: center;
}
.egTitle {
    font-size: 40px;

    color: $orange;
}
.cnTitle {
    padding-top:14px;
    font-size: 32px;

    color: #2b2b2b;
}
.info { 
    margin:20px auto 50px;
    border-top:$subTitleBorderValue;
    border-bottom:$subTitleBorderValue;
    width: 721px;

    font-size: 18px;
    line-height: 30px;

    color: $darkGrey;
}
.desc {
    padding:20px 0;

    font-size: 18px;
    line-height: 24px;

    color: $darkGrey;
}
.a-list {
    margin: 0;
}
.list {
    margin:0 10px;
    border:1px solid white;
    border-radius: 4px;
    padding: 2px 10px;

    font-size: 16px;
    line-height: 30px;

    color: #4d4d4d;
    background-color: white;

    &:hover {
        border-color: $orange;

        color: white;
        background-color: $orange;

    }
}

.padding40 {
    padding: $paddingTB40;
}

.paddingBottom23 {
    padding-bottom: 23px;
}

/* 左右布局 */

/* 外包平台 */
.part-out {
    float: left;

    position: relative;

    padding: 0 $partOutListPadding;
    width: $partOutListWidth;
    height: 297px;

    background-image: url('/src/images/img7.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;

    .icon {
        @extend .white;

            padding: 38px 0;
        
            font-size: 55px;
    }
}
.part-out-iTitle {
    margin-top: -35px;
    margin-bottom: 53px;

    font-size: 20px;

    color: white;
}
.list-title-out {
    font-size: 20px;
    line-height: 30px;

    color: #2B2B2B;
}
.info-out {
    margin-top: 18px;

    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: $darkGrey;
}
.shadow-out {
    @extend .shadow;
    top:75px;
    left:214px;//1100; 1000-190px;
}
/* 外包平台-流程摘要 */
.part-out-procedure {
    float: left;
    position: relative;
    margin: 0 auto;

}
.icon-bg-out-procedure {
    margin-bottom: 37px;
    border-radius: 5px;

    width: $partOutProcedureListWidth;
    height: 70px;

    background-color: $orange;
}
.iTitle-out-procedure {
    font-size: 22px;
    line-height: 70px;

    color: white;
}
.icon-number-out-procedure {
    margin-top: -15px;
    margin-left: ($partOutProcedureListWidth/2) - ($partOutProcedureListIconWidth+$partOutProcedureListIconBorder)/2;
    border: $partOutProcedureListIconBorder solid $orange;
    border-radius: 18px;
    width: $partOutProcedureListIconWidth;
    height: 26px;

    line-height: 25px;

    color: $orange;
    background-color: white;
}
.desc-out-procedure {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.arrow {
    margin-top: 20px;
    width: $arrowWidth;
    height: 20px;

    background-image: url('/src/images/img8.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
}
.rotate {
    transform: rotateX(180deg);
}

.part-service {
    float: left;

    position: relative;

    
    width: 245px;
    height: 170px;

    background-color: $lightGrey;

    .icon {
        font-size: 42px;
    }
}
.part-design-service {
    @extend .part-service;
    margin: 0 15px;
}

.hexagon-grey {
    position: absolute;
    top: -35px;
    left: -16px;

    padding: 23px 0;
    width: 79px;
    height: 95px;
    
    font-size: 60px;
    text-align: center;

    color: white;
    background-image: url('/src/images/img9.png');
    background-repeat: no-repeat;

}
.list-title-service {
    margin-top: 26px;
    font-size: 20px;

    color: #4d4d4d;

}
.linfo-service {
    margin: 18px;

    font-size: 16px;
    line-height: 22px;
    text-align: left;

    color: $darkGrey;
}

.part-team-service {
    @extend .part-service;
    
    margin: 0 35px 85px;
    text-align: center;
}


.part-team-cooper {
    float: left;

    width: 250px;
    
    color: $orange;
    background-color: #292E31;

    .icon {
        float: left;

        margin: 20px 43px;

        font-size: 96px;
    }
}
.part-tech-adv {
    float: left;

    margin: 0 $partTechAdvMargin;
    width: $partTechAdvWidth;
    height: 152px;

    color: white;
    background-image: url('/src/images/img10.png');
    background-repeat: no-repeat;
    background-position-x: ($partTechAdvWidth - 136px)/2;
}

.icon-number-tech-adv {
    padding: 65px 0;

    font-size: 40px;
    line-height: 22px;
    
    color: #a98d76;
}
.list-title-tech-adv {
    font-size: 20px;

    color: #4d4d4d;
}
.list-sub-title-tech-adv {
    margin-bottom: 10px;

    font-size: 16px;

    color: $darkGrey;
}
.desc-tech{
    font-size: 16px;
    line-height: 24px;
    //text-align: left;

    color: #4d4d4d;
}
.part {
    margin: 90px auto;
}

.part-tech-ser {
    float: left;

    width: 120px;

    color:  white;

    .icon {

        border: 5px solid rgba(139, 217, 246,0.8);//#8BD9F6
        border-radius: 60px;
        width: 104px;
        height: 104px;

        font-size: 44px;
        line-height: 73px;//
        
        background-color: #17B4ED;
        background-clip: content-box;
    }    
}
.iTitle-tech-ser {
    margin:-45px 20px 28px;//margin: -52px 20px 16px;
}
.particular-i {
    line-height: 66px;
}
.particular-ser {
    margin: -52px 20px 16px;
}
.icon.darkGreen-c {
    border-color: rgba(140, 221, 205, 0.8);//#8CDDCD;
    background-color: #19BB9B;
}
.icon.red-c {
    border-color: rgba(245, 181, 176, 0.8);//#F5B5B0;
    background-color: #EC6C62;
}
.icon.green-c {
    border-color: rgba(201, 224, 163, 0.8);//#C9E0A3;
    background-color: #94C248;
}
.icon.orange-c {
    border-color: rgba(250, 206, 163, 0.8);//#FACEA3;
    background-color: #F69E48;
}

.line {
    border: 3px solid rgba(211, 211, 211, 0.5);
    margin: 56px -11px;
    width: 85px;
    z-index: 0;
}