html, body {
    margin: 0;
    padding: 0;

    font-family: "Microsoft Yahei";
}

.float-l {
    float: left;
}
.float-r {
    float: right;
}

.clearfix:after {
　　display: block;
　　clear: both;
　　overflow: hidden;

　　height: 0;

　　font-size: 0;

　　content: '';
}

.white {
    color: white;
}
.grey {
    background-color: $lightGrey;
}
.black {
    background-color: #292E31;
}


.all-left {
    float: left;

    text-align: left;
}

.center {
    float: left;

    text-align: center;
}

.all-right {
    float: right;

    text-align: right;
}

.margin-150 {
    clear: both;

    margin-left: 150px;
}
.be-center {
    display: table;
    
    margin: 0 auto;
}